<!-- mega menu desktop logo snippet -->
<li id="cmm4e-menu-item-13050" class="cmm4e-menu-item cmm4e-current-menu-item cmm4e-item-depth-0">
  <a href={{ shop.url }} class="cmm4e-nav-link" itemprop="url"><span class="cmm4e-item-label"
      itemprop="name"><img src={{ section.settings.logo | img_url : "large" }} width="309" height="58"
        style="width:100% !important; min-width:209px !important; max-width:209px !important; " /></span></a>
</li>