<!-- single product header (collection logo and product title) -->
<section
    class="has_ae_slider elementor-element elementor-element-6d241cb3 product-nav-sec elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
    data-id="6d241cb3" data-element_type="section"
    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="has_ae_slider elementor-element elementor-element-50ab1e4 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                data-id="50ab1e4" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <div class="elementor-element elementor-element-77ead1e elementor-widget elementor-widget-image"
                            data-id="77ead1e" data-element_type="widget" data-widget_type="image.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-image">
                                    <img src={{product.metafields.collection_logo.collection_logo}}
                                        class="attachment-full size-full" alt="" loading="lazy" />
                                </div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-6a49fd6 elementor-widget elementor-widget-text-editor"
                            data-id="6a49fd6" data-element_type="widget" data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">{{product.metafields.subtitle.subtitle}}</div>
                            </div>
                        </div>
                        <div class="elementor-element elementor-element-c711693 elementor-drop-cap-yes elementor-drop-cap-view-default elementor-widget elementor-widget-text-editor"
                            data-id="c711693" data-element_type="widget"
                            data-settings="{&quot;drop_cap&quot;:&quot;yes&quot;}"
                            data-widget_type="text-editor.default">
                            <div class="elementor-widget-container">
                                <div class="elementor-text-editor elementor-clearfix">{{ product.title }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>