<section
    class="has_ae_slider elementor-element elementor-element-4287772 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
    data-id="4287772" data-element_type="section"
    data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-row">
            <div class="has_ae_slider elementor-element elementor-element-4610a605 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
                data-id="4610a605" data-element_type="column">
                <div class="elementor-column-wrap  elementor-element-populated">
                    <div class="elementor-widget-wrap">
                        <section
                            class="has_ae_slider elementor-element elementor-element-73cb8917 elementor-section-full_width elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                            data-id="73cb8917" data-element_type="section" style="background-color: white;">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="has_ae_slider elementor-element elementor-element-536e2533 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                        data-id="536e2533" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6950efba elementor-widget elementor-widget-image"
                                                    data-id="6950efba" data-element_type="widget"
                                                    data-widget_type="image.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-image">
                                                            <img width="2000" height="1499"
                                                                src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/product_ENG_NUDE-ROCHE_Haute-Couleur-Collection_Pravada-Floors_96dpi_6.jpg?v=1598292262"
                                                                class="attachment-full size-full"
                                                                alt="NUDE ROCHE - Haute Couleur Collection by Pravada Floors"
                                                                loading="lazy"
                                                                srcset=""
                                                                sizes="(max-width: 2000px) 100vw, 2000px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="has_ae_slider elementor-element elementor-element-7d03b6f5 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                                        data-id="7d03b6f5" data-element_type="column">
                                        <div class="elementor-column-wrap  elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6bfee7f2 gc-no-space elementor-widget elementor-widget-text-editor"
                                                    data-id="6bfee7f2" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            READY FOR YOUR NEXT PROJECT?</div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-67495c8 elementor-widget elementor-widget-spacer"
                                                    data-id="67495c8" data-element_type="widget"
                                                    data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-3b20232d elementor-widget elementor-widget-text-editor"
                                                    data-id="3b20232d" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            GET INSPIRED!</div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-1b0e5b64 elementor-widget elementor-widget-text-editor"
                                                    data-id="1b0e5b64" data-element_type="widget"
                                                    data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            View projects featuring Pravada floors.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-15714374 gc-login-btn elementor-align-center elementor-widget elementor-widget-button"
                                                    data-id="15714374" data-element_type="widget"
                                                    data-widget_type="button.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-button-wrapper">
                                                            <a href="/blogs/media-projects/"
                                                                class="elementor-button-link elementor-button elementor-size-sm"
                                                                role="button">
                                                                <span class="elementor-button-content-wrapper">
                                                                    <span class="elementor-button-text">PROJECTS</span>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>