.elementor-4573 .elementor-element.elementor-element-6741f43>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4573 .elementor-element.elementor-element-f02a102>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4573 .elementor-element.elementor-element-5a256af>.elementor-container {
    max-width: 600px;
}

.elementor-4573 .elementor-element.elementor-element-5a256af>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-4573 .elementor-element.elementor-element-4028911>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4573 .elementor-element.elementor-element-5a256af {
    margin-top: -100px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4573 .elementor-element.elementor-element-767cf9f {
    padding: 100px 50px 75px 50px;
}

.elementor-4573 .elementor-element.elementor-element-83e570b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4573 .elementor-element.elementor-element-b0b41c0 .elementor-text-editor {
    text-align: center;
}

.elementor-4573 .elementor-element.elementor-element-b0b41c0 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

.elementor-4573 .elementor-element.elementor-element-b0b41c0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4573 .elementor-element.elementor-element-a2604fa .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4573 .elementor-element.elementor-element-a2604fa>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4573 .elementor-element.elementor-element-a2604fa>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4573 .elementor-element.elementor-element-c1aca98 .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4573 .elementor-element.elementor-element-c1aca98 .elementor-button:hover,
.elementor-4573 .elementor-element.elementor-element-c1aca98 .elementor-button:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.elementor-4573 .elementor-element.elementor-element-c1aca98 .elementor-button:hover svg,
.elementor-4573 .elementor-element.elementor-element-c1aca98 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-4573 .elementor-element.elementor-element-c1aca98>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4573 .elementor-element.elementor-element-c1aca98>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4573 .elementor-element.elementor-element-144ae8f {
    padding: 17px 0px 0px 0px;
}

.elementor-4573 .elementor-element.elementor-element-a742946 {
    padding: 0px 50px 100px 50px;
}

@media(max-width:999px) {
    .elementor-4573 .elementor-element.elementor-element-767cf9f {
        padding: 100px 40px 50px 40px;
    }

    .elementor-4573 .elementor-element.elementor-element-a742946 {
        padding: 0px 40px 50px 40px;
    }
}

@media(min-width:767px) {
    .elementor-4573 .elementor-element.elementor-element-6c35cd2 {
        width: 25%;
    }

    .elementor-4573 .elementor-element.elementor-element-8f0d032 {
        width: 75%;
    }
}

@media(max-width:766px) {
    .elementor-4573 .elementor-element.elementor-element-8f0d032>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4573 .elementor-element.elementor-element-5a256af {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4573 .elementor-element.elementor-element-767cf9f {
        padding: 100px 40px 50px 40px;
    }

    .elementor-4573 .elementor-element.elementor-element-144ae8f {
        padding: 20px 0px 0px 0px;
    }
}