.elementor-15421 .elementor-element.elementor-element-843c336>.elementor-container {
    max-width: 690px;
}

.elementor-15421 .elementor-element.elementor-element-54a942b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-9aabb54 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-9aabb54 .elementor-icon i,
.elementor-15421 .elementor-element.elementor-element-9aabb54 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-15421 .elementor-element.elementor-element-9aabb54>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-6f2b338 {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-6f2b338 .elementor-heading-title {
    color: #000000;
    font-family: "Playfair Display", Sans-serif;
    font-size: 22px;
}

.elementor-15421 .elementor-element.elementor-element-6f2b338>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-9717a00 .elementor-text-editor {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-9717a00 {
    color: #000000;
}

.elementor-15421 .elementor-element.elementor-element-9717a00>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-843c336:not(.elementor-motion-effects-element-type-background),
.elementor-15421 .elementor-element.elementor-element-843c336>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-15421 .elementor-element.elementor-element-843c336 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 40px 35px 40px;
}

.elementor-15421 .elementor-element.elementor-element-843c336>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15421 .elementor-element.elementor-element-472a9d3>.elementor-container {
    max-width: 880px;
}

.elementor-bc-flex-widget .elementor-15421 .elementor-element.elementor-element-8b2eae6.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-8b2eae6.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-8b2eae6>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-cb07c00 .elementor-text-editor {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-cb07c00 {
    color: #FFFFFF;
    font-size: 16px;
}

.elementor-15421 .elementor-element.elementor-element-cb07c00>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-cb07c00>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-15421 .elementor-element.elementor-element-f7faf36.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-f7faf36.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-f7faf36>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-eddd53a>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-15421 .elementor-element.elementor-element-aec17d6.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-aec17d6.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-aec17d6>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-e3ca954>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-15421 .elementor-element.elementor-element-ac8af3c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-ac8af3c.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-ac8af3c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-7ef87a6>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-15421 .elementor-element.elementor-element-fec4c85.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-fec4c85.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-fec4c85>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-a845be5 .elementor-text-editor {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-a845be5 {
    color: #FFFFFF;
    font-size: 16px;
}

.elementor-15421 .elementor-element.elementor-element-a845be5>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-15421 .elementor-element.elementor-element-2c4756f.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-2c4756f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-2c4756f>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-b5432c6>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-15421 .elementor-element.elementor-element-e61dd0f.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-e61dd0f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-e61dd0f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-97d24d8 .elementor-text-editor {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-97d24d8 {
    color: #FFFFFF;
    font-size: 16px;
}

.elementor-15421 .elementor-element.elementor-element-97d24d8>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-15421 .elementor-element.elementor-element-f0d77f0.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-f0d77f0.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-15421 .elementor-element.elementor-element-f0d77f0>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-15421 .elementor-element.elementor-element-a46c618>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-15421 .elementor-element.elementor-element-472a9d3:not(.elementor-motion-effects-element-type-background),
.elementor-15421 .elementor-element.elementor-element-472a9d3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #282828;
}

.elementor-15421 .elementor-element.elementor-element-472a9d3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 40px 25px 40px;
}

.elementor-15421 .elementor-element.elementor-element-472a9d3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15421 .elementor-element.elementor-element-d17a7ee>.elementor-container {
    max-width: 1350px;
}

.elementor-15421 .elementor-element.elementor-element-524d9d1.elementor-wc-products ul.products {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.elementor-15421 .elementor-element.elementor-element-524d9d1.elementor-wc-products ul.products li.product span.onsale {
    display: block;
}

.elementor-15421 .elementor-element.elementor-element-524d9d1>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:999px) {
    .elementor-15421 .elementor-element.elementor-element-472a9d3 {
        padding: 20px 20px 20px 20px;
    }

    .elementor-15421 .elementor-element.elementor-element-524d9d1.elementor-wc-products ul.products {
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }
}

@media(max-width:766px) {
    .elementor-15421 .elementor-element.elementor-element-8b2eae6>.elementor-element-populated {
        padding: 0px 0px 10px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-f7faf36 {
        width: 100%;
    }

    .elementor-15421 .elementor-element.elementor-element-eddd53a>.elementor-widget-container {
        padding: 5px 0px 0px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-aec17d6 {
        width: 33%;
    }

    .elementor-15421 .elementor-element.elementor-element-aec17d6>.elementor-element-populated {
        padding: 5px 0px 0px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-e3ca954>.elementor-widget-container {
        padding: 5px 0px 0px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-ac8af3c {
        width: 33%;
    }

    .elementor-15421 .elementor-element.elementor-element-7ef87a6>.elementor-widget-container {
        padding: 5px 0px 0px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-a845be5>.elementor-widget-container {
        padding: 10px 0px 0px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-2c4756f>.elementor-element-populated {
        padding: 10px 0px 10px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-b5432c6>.elementor-widget-container {
        padding: 5px 0px 0px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-97d24d8>.elementor-widget-container {
        padding: 5px 0px 0px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-f0d77f0>.elementor-element-populated {
        padding: 10px 0px 10px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-a46c618>.elementor-widget-container {
        padding: 5px 0px 0px 0px;
    }

    .elementor-15421 .elementor-element.elementor-element-524d9d1.elementor-wc-products ul.products {
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
}

@media(min-width:767px) {
    .elementor-15421 .elementor-element.elementor-element-f7faf36 {
        width: 80%;
    }
}

@media(max-width:999px) and (min-width:767px) {
    .elementor-15421 .elementor-element.elementor-element-8b2eae6 {
        width: 15%;
    }

    .elementor-15421 .elementor-element.elementor-element-f7faf36 {
        width: 85%;
    }
}

/* Start custom CSS for wc-archive-products, class: .elementor-element-524d9d1 */
.price,
.tinvwl-after-add-to-cart {
    display: none !important;
}

.picture:before {
    opacity: 0 !important;
    visibility: hidden !important;
}

.mb-prodID {
    border: none !important;
    width: auto !important;
    position: absolute !important;

    top: 300px;
    left: 180px;
}

.tinv-wraper {
    position: absolute;
    top: 240px;
    left: 120px;
}

.mb-products-already.pum-trigger,
.product-content-img-wrap-two img {

    position: absolute !important;

    top: 300px;
    left: 180px;
}

.tinvwl_add_to_wishlist_button {
    color: white;
}

ul.products li.product {
    margin: 2%;
}

ul.products {
    display: flex;
}

/* End custom CSS */
/* Start custom CSS for wc-archive-products, class: .elementor-element-524d9d1 */
.price,
.tinvwl-after-add-to-cart {
    display: none !important;
}

.picture:before {
    opacity: 0 !important;
    visibility: hidden !important;
}

.mb-prodID {
    border: none !important;
    width: auto !important;
    position: absolute !important;

    top: 300px;
    left: 180px;
}

.tinv-wraper {
    position: absolute;
    top: 240px;
    left: 120px;
}

.mb-products-already.pum-trigger,
.product-content-img-wrap-two img {

    position: absolute !important;

    top: 300px;
    left: 180px;
}

.tinvwl_add_to_wishlist_button {
    color: white;
}

ul.products li.product {
    margin: 2%;
}

ul.products {
    display: flex;
}

/* End custom CSS */

@media(max-width:767px) {
    .wpf_items_wrapper.wpf_layout_horizontal.wpf_items_grouped {
        display: block !important;
    }

    .gc-pfilter-sec .wpf_layout_horizontal .wpf_item {
        margin: 10px !important;
        text-align: center;
    }

    .gc-pfilter-sec .wpf_layout_horizontal .wpf_item_pa_text .text, .gc-pfilter-sec .wpf_layout_horizontal .wpf_item_pa_text .text-and {
        width: 100% !important;
    }
}

.wpf_items_wrapper.wpf_layout_horizontal.wpf_items_grouped {
    display: flex;
}

.gc-pfilter-sec .wpf_layout_horizontal .wpf_item_name {
    width: 100px;
}

.gc-pfilter-sec .wpf_layout_horizontal .wpf_item_pa_text p {
    width: 100px;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0 !important;
    text-align: center;
}

.gc-pfilter-sec .wpf_layout_horizontal .wpf_item_pa_text .text-and {
    width: 50px;
}

.gc-pfilter-sec .wpf_layout_horizontal .wpf_items_group {
    width: 250px !important;
}