.elementor-4145 .elementor-element.elementor-element-325c6ec>.elementor-container {
    min-height: 450px;
}

.elementor-4145 .elementor-element.elementor-element-325c6ec>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-4145 .elementor-element.elementor-element-ded76b5>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-3b677c1.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-4145 .elementor-element.elementor-element-3b677c1>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-49e9fc4 {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-49e9fc4 .elementor-image img {
    width: 126px;
    max-width: 350px;
}

.elementor-4145 .elementor-element.elementor-element-49e9fc4>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-16b68c2>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-48c0e4b {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-b7cf628>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-c36a11e .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-c36a11e {
    color: #FFFFFF;
    line-height: 1.7em;
}

.elementor-4145 .elementor-element.elementor-element-c36a11e>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-50114d2>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-f97b041 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 105px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-325c6ec:not(.elementor-motion-effects-element-type-background),
.elementor-4145 .elementor-element.elementor-element-325c6ec>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
    background-image: url("https://cdn.shopify.com/s/files/1/0422/9274/0261/files/banner_HOMEPAGE-4-pravada-website.jpg?v=1596830450");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-4145 .elementor-element.elementor-element-325c6ec>.elementor-background-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4145 .elementor-element.elementor-element-325c6ec {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    margin-bottom: 75px;
    padding: 0px 100px 0px 100px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-3ee44e8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-3ee44e8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-3ee44e8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-6f472c9 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-6f472c9>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-18398b2.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-18398b2.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-18398b2>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-cd33d94 .elementor-image img {
    width: 250px;
    max-width: 250px;
}

.elementor-4145 .elementor-element.elementor-element-cd33d94>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-328d114 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-328d114 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-328d114>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-ea7d8b4 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-ea7d8b4 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-ea7d8b4>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-e50957c>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-f771b24>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-cc20b96 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-cc20b96 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-cc20b96>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-cc20b96>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-e50957c {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-81d5afb .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-81d5afb>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-81d5afb>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-b204280 {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-d39ba6b.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-d39ba6b.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-d39ba6b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-36ae48a>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-678cfac .elementor-text-editor {
    text-align: center;
    text-transform: uppercase;
}

.elementor-4145 .elementor-element .elementor-text-editor h4 {
    text-transform: uppercase;
}

.elementor-4145 .elementor-element.elementor-element-678cfac {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-678cfac>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-6a491c7 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-6a491c7 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-6a491c7>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-d15e0d3>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-0f7dffc>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-79fcc10 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-79fcc10 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-79fcc10>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-79fcc10>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-d15e0d3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-bc5d6f8 .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-bc5d6f8>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-bc5d6f8>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-d45f7b8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-d45f7b8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-d45f7b8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-59289d6 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-59289d6>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-3e819b4 {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-fdfae78.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-fdfae78.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-fdfae78>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-07bcaa5 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-07bcaa5>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-b822d88.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-b822d88.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-b822d88>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-a40d74c .elementor-image img {
    width: 225px;
    max-width: 225px;
}

.elementor-4145 .elementor-element.elementor-element-a40d74c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-927c798 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-927c798 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-927c798>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-de8641d .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-de8641d {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-de8641d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-32383d1>.elementor-container {
    max-width: 550px;
}

.elementor-4145 .elementor-element.elementor-element-d8c2f50>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-e50d0f1>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-f8b82a1>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-c9dd47a .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-c9dd47a {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-c9dd47a>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-c9dd47a>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-e50d0f1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-acc2ada .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-acc2ada>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-acc2ada>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-32383d1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-d14fb40 {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-ed6b23f.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-ed6b23f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-ed6b23f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/* .elementor-4145 .elementor-element.elementor-element-451509e .elementor-image img {
    width: 175px;
    max-width: 175px;
} */

.elementor-4145 .elementor-element.elementor-element-451509e>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-96f3fe2 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-96f3fe2 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-96f3fe2>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-13119d8 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-13119d8 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-13119d8>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-7090de1>.elementor-container {
    max-width: 425px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-c734bcb.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-c734bcb.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-c734bcb>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-b1768c6 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-b1768c6 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-b1768c6>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-b1768c6>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-7090de1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-af8e021 .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-af8e021>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-af8e021>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-eadfa7e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-eadfa7e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-eadfa7e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-a6cc4fc .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-a6cc4fc>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-91d9f88 {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-b9c76d9.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-b9c76d9.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-b9c76d9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-aba7477 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-aba7477>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-43a7d2a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-43a7d2a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-43a7d2a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-ad0f562 .elementor-image img {
    width: 150px;
    max-width: 150px;
}

.elementor-4145 .elementor-element.elementor-element-ad0f562>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-0efb90b .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-0efb90b {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-0efb90b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-c77508c .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-c77508c {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-c77508c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-70288fc>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-3131d27>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-f6db456 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-f6db456 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-f6db456>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-f6db456>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-70288fc {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-0fa8565 .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-0fa8565>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-0fa8565>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-ae04d61 {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-8065ffc.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-8065ffc.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-8065ffc>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-069cf16 .elementor-image img {
    width: 150px;
    max-width: 150px;
}

.elementor-4145 .elementor-element.elementor-element-069cf16>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-a848c57 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-a848c57 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-a848c57>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-47dd7bd .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-47dd7bd {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-47dd7bd>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-a59d423>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-14597c6>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-a6d8a09 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-a6d8a09 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-a6d8a09>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-a6d8a09>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-a59d423 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-d333b46 .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-d333b46>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-d333b46>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-ed5b633.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-ed5b633.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-ed5b633>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-230ea03 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-230ea03>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-3fcf251 {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-7ed1484.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-7ed1484.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-7ed1484>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-009bc54 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-009bc54>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-5e4f85e.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-5e4f85e.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-5e4f85e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-fc74ba6 .elementor-image img {
    width: 150px;
    max-width: 150px;
}

.elementor-4145 .elementor-element.elementor-element-fc74ba6>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-941fea7 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-941fea7 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-941fea7>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-e06af60 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-e06af60 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-e06af60>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-110cd5e>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-27b0f01>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-03ee92b .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-03ee92b {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-03ee92b>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-03ee92b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-110cd5e {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-e7d010f .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-e7d010f>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-e7d010f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-b2429b6 {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-e60a4eb.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-e60a4eb.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-e60a4eb>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-51026d4 .elementor-image img {
    width: 175px;
    max-width: 175px;
}

.elementor-4145 .elementor-element.elementor-element-51026d4>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-f399d52 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-f399d52 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-f399d52>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-62bca38 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-62bca38 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-62bca38>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-c244680>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-330b122>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-71e531c .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-71e531c {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-71e531c>.elementor-widget-container {
    padding: 0px 0px 5px 0px;
}

.elementor-4145 .elementor-element.elementor-element-71e531c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-c244680 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-65a744e .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-65a744e>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-65a744e>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-2fdb027.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-2fdb027.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-2fdb027>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-644e4a5 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-644e4a5>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-266f8dd {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-199ebf3.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-199ebf3.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-199ebf3>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-9e45ff5 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-9e45ff5>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-bdaa367.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-bdaa367.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-bdaa367>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-a0fe0af .elementor-image img {
    width: 150px;
    max-width: 150px;
}

.elementor-4145 .elementor-element.elementor-element-a0fe0af>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-159aa21 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-159aa21 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-159aa21>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-89f654d .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-89f654d {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-89f654d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-63e3a48>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-b90432c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-2ce231c .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-2ce231c {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-2ce231c>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-2ce231c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-63e3a48 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-9202386 .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-9202386>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-9202386>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-2a452b3 {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-62838a9.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-62838a9.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-62838a9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-image img {
    width: 250px;
    max-width: 250px;
}

.elementor-4145 .elementor-element.elementor-element-8485e2c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-d1aec24 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-d1aec24 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-d1aec24>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-b39ebc7 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-b39ebc7 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-b39ebc7>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-3abd5d3>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-c67bcd9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-e87ca5e .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-e87ca5e {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-e87ca5e>.elementor-widget-container {
    padding: 0px 0px 5px 0px;
}

.elementor-4145 .elementor-element.elementor-element-e87ca5e>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-3abd5d3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-73ba77c .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-73ba77c>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-73ba77c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-716c5c4.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-716c5c4.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-716c5c4>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-db28354 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-db28354>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-ddfa45f {
    padding: 0px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-455c58f.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-455c58f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-455c58f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-020c306 .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-4145 .elementor-element.elementor-element-020c306>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4145 .elementor-element.elementor-element-4035d65.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-4035d65.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4145 .elementor-element.elementor-element-4035d65>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-4145 .elementor-element.elementor-element-0d78352 .elementor-image img {
    width: 200px;
    max-width: 200px;
}

.elementor-4145 .elementor-element.elementor-element-0d78352>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-0868157 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-0868157 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-0868157>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-67a20a4 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-67a20a4 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-67a20a4>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-f5df8a1>.elementor-container {
    max-width: 425px;
}

.elementor-4145 .elementor-element.elementor-element-78b786f>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-87342b5 .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-87342b5 {
    color: #000000;
}

.elementor-4145 .elementor-element.elementor-element-87342b5>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-87342b5>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-f5df8a1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 25px 0px;
}

.elementor-4145 .elementor-element.elementor-element-a42622e .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-a42622e>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-a42622e>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-1a16a14 {
    padding: 0px 50px 50px 50px;
}

.elementor-4145 .elementor-element.elementor-element-7708f5b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-70ba6dd .elementor-icon-wrapper {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-70ba6dd .elementor-icon i,
.elementor-4145 .elementor-element.elementor-element-70ba6dd .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-4145 .elementor-element.elementor-element-70ba6dd>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-33d1b0d .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-33d1b0d {
    color: #000000;
    font-size: 16px;
}

.elementor-4145 .elementor-element.elementor-element-33d1b0d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-33d1b0d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-596181b .elementor-text-editor {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-596181b {
    color: #000000;
    font-size: 22px;
}

.elementor-4145 .elementor-element.elementor-element-596181b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-26dd57b .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4145 .elementor-element.elementor-element-26dd57b>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4145 .elementor-element.elementor-element-26dd57b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4145 .elementor-element.elementor-element-ec7c977 {
    padding: 50px 50px 100px 50px;
}

@media(min-width:767px) {
    .elementor-4145 .elementor-element.elementor-element-3b677c1 {
        width: 40%;
    }

    .elementor-4145 .elementor-element.elementor-element-16b68c2 {
        width: 60%;
    }

    .elementor-4145 .elementor-element.elementor-element-b7cf628 {
        width: 40%;
    }

    .elementor-4145 .elementor-element.elementor-element-50114d2 {
        width: 60%;
    }
}

@media(max-width:999px) and (min-width:767px) {
    .elementor-4145 .elementor-element.elementor-element-3b677c1 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-16b68c2 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-b7cf628 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-50114d2 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-3ee44e8 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-18398b2 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-d39ba6b {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-d45f7b8 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-fdfae78 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-b822d88 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-d8c2f50 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-ed6b23f {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-c734bcb {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-eadfa7e {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-b9c76d9 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-43a7d2a {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-8065ffc {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-ed5b633 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-7ed1484 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-5e4f85e {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-e60a4eb {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-2fdb027 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-199ebf3 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-bdaa367 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-62838a9 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-716c5c4 {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-455c58f {
        width: 100%;
    }

    .elementor-4145 .elementor-element.elementor-element-4035d65 {
        width: 100%;
    }
}

@media(max-width:999px) {
    .elementor-4145 .elementor-element.elementor-element-48c0e4b {
        padding: 40px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-c36a11e {
        font-size: 18px;
    }

    .elementor-4145 .elementor-element.elementor-element-f97b041 {
        padding: 40px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-325c6ec {
        padding: 200px 40px 100px 40px;
    }

    .elementor-4145 .elementor-element.elementor-element-3ee44e8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-18398b2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-cc20b96>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-b204280 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-d39ba6b>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-79fcc10>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-d45f7b8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-3e819b4 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-fdfae78>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-b822d88>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-c9dd47a>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-d14fb40 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-ed6b23f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-b1768c6>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-eadfa7e>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-91d9f88 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-b9c76d9>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-43a7d2a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-f6db456>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-ae04d61 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-8065ffc>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-a6d8a09>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-ed5b633>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-3fcf251 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-7ed1484>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-5e4f85e>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-03ee92b>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-b2429b6 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-e60a4eb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-71e531c>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-2fdb027>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-266f8dd {
        padding: 0px 30px 50px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-199ebf3>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-bdaa367>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-2ce231c>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-2a452b3 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-62838a9>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-e87ca5e>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-716c5c4>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-ddfa45f {
        padding: 0px 30px 50px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-455c58f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-4035d65>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-87342b5>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4145 .elementor-element.elementor-element-1a16a14 {
        padding: 0px 30px 30px 30px;
    }

    .elementor-4145 .elementor-element.elementor-element-ec7c977 {
        padding: 0px 40px 50px 40px;
    }
}

@media(max-width:766px) {
    .elementor-4145 .elementor-element.elementor-element-325c6ec {
        padding: 250px 40px 65px 40px;
    }
}