.elementor-9852 .elementor-element.elementor-element-7ea295ab>.elementor-container {
    max-width: 720px;
}

.elementor-9852 .elementor-element.elementor-element-bcafb2b>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-9852 .elementor-element.elementor-element-13028201>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-9852 .elementor-element.elementor-element-3a068c13 {
    text-align: center;
}

.elementor-9852 .elementor-element.elementor-element-3a068c13 .elementor-heading-title {
    color: #000000;
    font-family: "Playfair Display", Sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.elementor-9852 .elementor-element.elementor-element-3a068c13>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-9852 .elementor-element.elementor-element-39ac1338 .elementor-text-editor {
    text-align: center;
}

.elementor-9852 .elementor-element.elementor-element-39ac1338 {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-39ac1338>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-9852 .elementor-element.elementor-element-7ea295ab:not(.elementor-motion-effects-element-type-background),
.elementor-9852 .elementor-element.elementor-element-7ea295ab>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-9852 .elementor-element.elementor-element-7ea295ab {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 40px 35px 40px;
}

.elementor-9852 .elementor-element.elementor-element-7ea295ab>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-9852 .elementor-element.elementor-element-41ca2678>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-9852 .elementor-element.elementor-element-9f1db05>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .load_more_wrapper {
    margin-top: 30px;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_title {
    margin: 0px 0px 12px 0px;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_title a {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_title a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_title,
.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_title>a {
    font-size: 16px;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_text {
    margin: 0px 0px 12px 0px;
    color: #cccccc;
    font-size: 14px;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post .blog-post-hero_content>.meta-wrapper {
    margin: 0px 0px 4px 0px;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .meta-wrapper {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .meta-wrapper a {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_meta-categories .lavalamp-object {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_meta-categories a {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_meta-categories span {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_likes-wrap .sl-count {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .share_post-container>a {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_meta-categories:hover a {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_meta-categories:hover span {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .blog-post_likes-wrap:hover .sl-count {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .meta-wrapper a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-standard.format-no_featured .blog-post_title a {
    color: #232323;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-link.format-no_featured .blog-post_title a {
    color: #232323;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-video.format-no_featured .blog-post_title a {
    color: #232323;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-gallery.format-no_featured .blog-post_title a {
    color: #232323;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-quote.format-no_featured .blog-post_title a {
    color: #232323;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-audio.format-no_featured .blog-post_title a {
    color: #232323;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-standard.format-no_featured .blog-post_title a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-link.format-no_featured .blog-post_title a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-video.format-no_featured .blog-post_title a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-gallery.format-no_featured .blog-post_title a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-quote.format-no_featured .blog-post_title a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-audio.format-no_featured .blog-post_title a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .meta-wrapper {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .meta-wrapper a {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .blog-post_meta-categories span {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .blog-post_likes-wrap .sl-count {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .share_post-container>a {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .blog-post_meta-categories:hover a {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .blog-post_meta-categories:hover span {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .blog-post_likes-wrap:hover .sl-count {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-no_featured .meta-wrapper a:hover {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-standard.format-no_featured .blog-post_text {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-link.format-no_featured .blog-post_text {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-video.format-no_featured .blog-post_text {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-gallery.format-no_featured .blog-post_text {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-quote.format-no_featured .blog-post_text {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6 .format-audio.format-no_featured .blog-post_text {
    color: #000000;
}

.elementor-9852 .elementor-element.elementor-element-7e12e6d6>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-9852 .elementor-element.elementor-element-7497db79 {
    padding: 110px 50px 100px 50px;
}

@media only screen and (min-width: 768px) {
    .row .wgl_col-4 {
        width: 32.5%;
    }
}
.wgl-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.aspect-ratio {
    width: 100%;
    padding-top: 100%;
}

.portfolio-bg {
    margin-top: -100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .portfolio-bg {
        height: 340px;
    }
    .inside_image .wgl-portfolio-item_title .title {
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .portfolio-bg {
        height: 560px;
    }
    .inside_image .wgl-portfolio-item_title .title {
        font-size: 24px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .portfolio-bg {
        height: 216px;
    }
    .inside_image .wgl-portfolio-item_title .title {
        font-size: 18px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .portfolio-bg {
        height: 288.5px;
    }
    .inside_image .wgl-portfolio-item_title .title {
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .portfolio-bg {
        height: 360px;
    }
}