.elementor-15326 .elementor-element.elementor-element-1c94ae53>.elementor-container {
    max-width: 1400px;
    min-height: 120px;
}

.elementor-15326 .elementor-element.elementor-element-1c94ae53>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-15326 .elementor-element.elementor-element-2af2ef08>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15326 .elementor-element.elementor-element-2b4acbe5 {
    text-align: center;
}

.elementor-15326 .elementor-element.elementor-element-2b4acbe5 .elementor-heading-title {
    color: #0c0c0c;
    font-family: "Rubik", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.4em;
}

.elementor-15326 .elementor-element.elementor-element-2b4acbe5>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-15326 .elementor-element.elementor-element-1c94ae53:not(.elementor-motion-effects-element-type-background),
.elementor-15326 .elementor-element.elementor-element-1c94ae53>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7f7f7;
}

.elementor-15326 .elementor-element.elementor-element-1c94ae53 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-15326 .elementor-element.elementor-element-1c94ae53>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-15326 .elementor-element.elementor-element-785bf96b>.elementor-container {
    max-width: 1400px;
}

.elementor-15326 .elementor-element.elementor-element-5cd61950>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-15326 .elementor-element.elementor-element-38da645b .elementor-posts-container .elementor-post__thumbnail {
    padding-bottom: calc(1 * 100%);
}

.elementor-15326 .elementor-element.elementor-element-38da645b:after {
    content: "1";
}

.elementor-15326 .elementor-element.elementor-element-38da645b .elementor-post__thumbnail__link {
    width: 30%;
}

.elementor-15326 .elementor-element.elementor-element-38da645b .elementor-posts-container {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.elementor-msie .elementor-15326 .elementor-element.elementor-element-38da645b .elementor-post {
    padding-right: calc(30px/2);
    padding-left: calc(30px/2);
    padding-bottom: 30px;
}

.elementor-msie .elementor-15326 .elementor-element.elementor-element-38da645b .elementor-posts-container {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}

.elementor-15326 .elementor-element.elementor-element-38da645b.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
    margin-right: 20px;
}

.elementor-15326 .elementor-element.elementor-element-38da645b.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
    margin-left: 20px;
}

.elementor-15326 .elementor-element.elementor-element-38da645b.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 20px;
}

.elementor-15326 .elementor-element.elementor-element-38da645b .elementor-post__title,
.elementor-15326 .elementor-element.elementor-element-38da645b .elementor-post__title a {
    color: #000000;
    font-family: "Rubik", Sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.elementor-15326 .elementor-element.elementor-element-38da645b .elementor-post__title {
    margin-bottom: 10px;
}

.elementor-15326 .elementor-element.elementor-element-38da645b .elementor-post__excerpt p {
    color: rgba(0, 0, 0, 0.5);
    font-family: "Rubik", Sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.elementor-15326 .elementor-element.elementor-element-38da645b .elementor-posts-nothing-found {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-15326 .elementor-element.elementor-element-38da645b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-15326 .elementor-element.elementor-element-785bf96b {
    margin-top: 50px;
    margin-bottom: 0px;
}

.elementor-15326 .elementor-element.elementor-element-5ea514c .elementor-spacer-inner {
    height: 100px;
}

.elementor-15326 .elementor-element.elementor-element-5ea514c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(max-width:999px) {
    .elementor-15326 .elementor-element.elementor-element-2af2ef08>.elementor-element-populated {
        padding: 0px 0px 0px 50px;
    }

    .elementor-15326 .elementor-element.elementor-element-785bf96b {
        margin-top: 100px;
        margin-bottom: 0px;
        padding: 0px 50px 0px 50px;
    }
}

@media(max-width:766px) {
    .elementor-15326 .elementor-element.elementor-element-2af2ef08>.elementor-element-populated {
        padding: 0px 0px 0px 20px;
    }

    .elementor-15326 .elementor-element.elementor-element-2b4acbe5 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-15326 .elementor-element.elementor-element-38da645b .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.5 * 100%);
    }

    .elementor-15326 .elementor-element.elementor-element-38da645b:after {
        content: "0.5";
    }

    .elementor-15326 .elementor-element.elementor-element-785bf96b {
        padding: 0px 20px 0px 20px;
    }
}

@media(max-width:600px) {
    .elementor-15326 .elementor-element.elementor-element-38da645b .elementor-post__thumbnail__link {
        width: 100%;
        margin-bottom: 200px;
    }

    .elementor-posts--skin-classic .elementor-post__text {
        position: absolute;
        text-align: center;
        margin-top: 200px;
        width: 100%;
    }
}

/* Start custom CSS for archive-posts, class: .elementor-element-38da645b */
.elementor-posts-nothing-found {
    margin-top: -10%;
    text-align: center;
}

/* End custom CSS */
/* Start custom CSS for archive-posts, class: .elementor-element-38da645b */
.elementor-posts-nothing-found {
    margin-top: -10%;
    text-align: center;
}

/* End custom CSS */
