.elementor-7110 .elementor-element.elementor-element-6f61c97>.elementor-container {
    min-height: 400px;
}

.elementor-7110 .elementor-element.elementor-element-6f61c97>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-7110 .elementor-element.elementor-element-7184241>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-7184241>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7110 .elementor-element.elementor-element-dda6056>.elementor-container {
    max-width: 980px;
}

.elementor-7110 .elementor-element.elementor-element-659a262 .elementor-text-editor {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-659a262 {
    color: #FFFFFF;
}

.elementor-7110 .elementor-element.elementor-element-659a262>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-dda6056 {
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-cf6f4f0 {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-cf6f4f0 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Playfair Display", Sans-serif;
    font-size: 48px;
}

.elementor-7110 .elementor-element.elementor-element-cf6f4f0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-ea5ff23 {
    --divider-border-style: solid;
    --divider-border-color: #FFFFFF;
    --divider-border-width: 100px;
    z-index: 1;
}

.elementor-7110 .elementor-element.elementor-element-ea5ff23 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-7110 .elementor-element.elementor-element-ea5ff23 .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-7110 .elementor-element.elementor-element-ea5ff23>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 0px 10px;
}

.elementor-7110 .elementor-element.elementor-element-ea5ff23>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-701024a {
    --divider-border-style: solid;
    --divider-border-color: #FFFFFF;
    --divider-border-width: 50px;
    z-index: 1;
}

.elementor-7110 .elementor-element.elementor-element-701024a .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-7110 .elementor-element.elementor-element-701024a .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-7110 .elementor-element.elementor-element-701024a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 55px 0px;
}

.elementor-7110 .elementor-element.elementor-element-701024a>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-c01e924 .elementor-text-editor {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-c01e924 {
    color: #FFFFFF;
    font-family: "Raleway", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-7110 .elementor-element.elementor-element-c01e924>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-c01e924>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-6f61c97:not(.elementor-motion-effects-element-type-background),
.elementor-7110 .elementor-element.elementor-element-6f61c97>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-7110 .elementor-element.elementor-element-6f61c97>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-7110 .elementor-element.elementor-element-6f61c97 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 100px 50px 100px 50px;
}

.elementor-7110 .elementor-element.elementor-element-9ac8c95>.elementor-container {
    max-width: 1300px;
}

.elementor-7110 .elementor-element.elementor-element-4cab7ad>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 50px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-521bab0>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-8b9b548>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}

.elementor-7110 .elementor-element.elementor-element-8b9b548>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-259003f .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-259003f {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-7110 .elementor-element.elementor-element-259003f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-259003f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-9cb2b89 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 35px 0px;
}

.elementor-7110 .elementor-element.elementor-element-ea2279a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-56c3514 .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-7110 .elementor-element.elementor-element-56c3514>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-7110 .elementor-element.elementor-element-56c3514>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-335cc91 {
    color: #000000;
}

.elementor-7110 .elementor-element.elementor-element-335cc91>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-1d7a6f6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-7110 .elementor-element.elementor-element-84736e4>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-d8ec8b9>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-7110 .elementor-element.elementor-element-d8ec8b9>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-68ee686 .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-68ee686 {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-7110 .elementor-element.elementor-element-68ee686>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-68ee686>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-65d9d7a>.elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-7110 .elementor-element.elementor-element-2c041c4>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-7110 .elementor-element.elementor-element-2c041c4>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-2976a6c .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-2976a6c {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-7110 .elementor-element.elementor-element-2976a6c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-2976a6c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-9736d7e {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 80px 0px;
}

.elementor-7110 .elementor-element.elementor-element-c7529ff>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-7619254 .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-7110 .elementor-element.elementor-element-7619254>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-7110 .elementor-element.elementor-element-7619254>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-613df3a {
    color: #000000;
}

.elementor-7110 .elementor-element.elementor-element-613df3a>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-d37da8a .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-7110 .elementor-element.elementor-element-d37da8a>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-10060c2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 80px 0px;
}

.elementor-7110 .elementor-element.elementor-element-4c3b6dd>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-8e469a0 .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-7110 .elementor-element.elementor-element-8e469a0>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-8e469a0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-c72675a {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F1F1F1;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 55px 0px;
}

.elementor-7110 .elementor-element.elementor-element-c72675a,
.elementor-7110 .elementor-element.elementor-element-c72675a>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-c72675a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-7110 .elementor-element.elementor-element-41cbb47.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-7110 .elementor-element.elementor-element-41cbb47.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7110 .elementor-element.elementor-element-41cbb47>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-21a8812 {
    color: #65666B;
    font-size: 16px;
}

.elementor-7110 .elementor-element.elementor-element-21a8812>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-7110 .elementor-element.elementor-element-64c0300.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-7110 .elementor-element.elementor-element-64c0300.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7110 .elementor-element.elementor-element-64c0300>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-4847661:not(.elementor-grid-0) .elementor-grid {
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.elementor-7110 .elementor-element.elementor-element-4847661.elementor-grid-0 .elementor-share-btn {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
    margin-bottom: 0px;
}

.elementor-7110 .elementor-element.elementor-element-4847661.elementor-grid-0 .elementor-grid {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}

.elementor-7110 .elementor-element.elementor-element-4847661 .elementor-share-btn {
    font-size: calc(0.8px * 10);
}

.elementor-7110 .elementor-element.elementor-element-4847661 .elementor-share-btn__icon i {
    font-size: 16px;
}

.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-flat .elementor-share-btn,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-gradient .elementor-share-btn,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-boxed .elementor-share-btn .elementor-share-btn__icon,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-minimal .elementor-share-btn .elementor-share-btn__icon {
    background-color: #232323;
}

.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-framed .elementor-share-btn,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-minimal .elementor-share-btn,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-boxed .elementor-share-btn {
    color: #232323;
    border-color: #232323;
}

.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-flat .elementor-share-btn__icon,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-flat .elementor-share-btn__text,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-gradient .elementor-share-btn__icon,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-gradient .elementor-share-btn__text,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-boxed .elementor-share-btn__icon,
.elementor-7110 .elementor-element.elementor-element-4847661.elementor-share-buttons--skin-minimal .elementor-share-btn__icon {
    color: #FFFFFF;
}

.elementor-7110 .elementor-element.elementor-element-4847661>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-7110 .elementor-element.elementor-element-42f87cd.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-7110 .elementor-element.elementor-element-42f87cd.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-7110 .elementor-element.elementor-element-42f87cd>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-c165f3d .elementor-icon-list-icon {
    width: 14px;
}

.elementor-7110 .elementor-element.elementor-element-c165f3d .elementor-icon-list-icon i {
    font-size: 14px;
}

.elementor-7110 .elementor-element.elementor-element-c165f3d .elementor-icon-list-icon svg {
    width: 14px;
}

.elementor-7110 .elementor-element.elementor-element-c165f3d .elementor-icon-list-text,
.elementor-7110 .elementor-element.elementor-element-c165f3d .elementor-icon-list-text a {
    color: #65666B;
}

.elementor-7110 .elementor-element.elementor-element-c165f3d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-f36b8a6 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 18px 0px 57px 0px;
}

.elementor-7110 .elementor-element.elementor-element-de9226c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-b2a23b7 span.post-navigation__prev--label,
.elementor-7110 .elementor-element.elementor-element-b2a23b7 span.post-navigation__next--label {
    font-family: "Raleway", Sans-serif;
}

.elementor-7110 .elementor-element.elementor-element-b2a23b7>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-c07be22 {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-c07be22 .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-7110 .elementor-element.elementor-element-c07be22>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-7110 .elementor-element.elementor-element-c07be22>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-79d170c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-3567f51>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-6fe11fc>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-11447f3 .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-11447f3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-7110 .elementor-element.elementor-element-11447f3>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-5a07238 .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-5a07238>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-7110 .elementor-element.elementor-element-5a07238>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-7f8b10a .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-7f8b10a>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-7110 .elementor-element.elementor-element-7f8b10a>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-86320d8 .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-86320d8>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-7110 .elementor-element.elementor-element-86320d8>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-80f428c .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-80f428c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-7110 .elementor-element.elementor-element-80f428c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-54bd915 .elementor-text-editor {
    text-align: right;
}

body:not(.rtl) .elementor-7110 .elementor-element.elementor-element-54bd915 .elementor-drop-cap {
    margin-right: 10px;
}

body.rtl .elementor-7110 .elementor-element.elementor-element-54bd915 .elementor-drop-cap {
    margin-left: 10px;
}

.elementor-7110 .elementor-element.elementor-element-54bd915>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.elementor-7110 .elementor-element.elementor-element-54bd915>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-b649d5d .elementor-text-editor {
    text-align: right;
}

.elementor-7110 .elementor-element.elementor-element-b649d5d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-b649d5d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-09d96c0 .elementor-spacer-inner {
    height: 25px;
}

.elementor-7110 .elementor-element.elementor-element-09d96c0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-8d995ff .elementor-cta__content {
    min-height: 175px;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-8d995ff .elementor-cta__button {
    border-radius: 0px;
}

.elementor-7110 .elementor-element.elementor-element-8d995ff .elementor-cta .elementor-cta__bg,
.elementor-7110 .elementor-element.elementor-element-8d995ff .elementor-cta .elementor-cta__bg-overlay {
    transition-duration: 1500ms;
}

.elementor-7110 .elementor-element.elementor-element-8d995ff>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-7110 .elementor-element.elementor-element-8d995ff>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-7110 .elementor-element.elementor-element-8d995ff {
    width: 100%;
    max-width: 100%;
}

.elementor-7110 .elementor-element.elementor-element-ed9e4af {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 40px 40px 40px 40px;
}

.elementor-7110 .elementor-element.elementor-element-9ac8c95 {
    padding: 70px 40px 180px 40px;
}

@media(max-width:999px) {
    .elementor-7110 .elementor-element.elementor-element-ea5ff23>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-701024a>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-4cab7ad>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 50px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-521bab0>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-c7529ff>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-4847661.elementor-grid-tablet-0 .elementor-share-btn {
        margin-right: calc(10px / 2);
        margin-left: calc(10px / 2);
        margin-bottom: 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-4847661.elementor-grid-tablet-0 .elementor-grid {
        margin-right: calc(-10px / 2);
        margin-left: calc(-10px / 2);
    }

    .elementor-7110 .elementor-element.elementor-element-3567f51>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-9ac8c95 {
        padding: 50px 40px 50px 40px;
    }
}

@media(max-width:766px) {
    .elementor-7110 .elementor-element.elementor-element-cf6f4f0 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-7110 .elementor-element.elementor-element-c01e924 {
        font-size: 15px;
    }

    .elementor-7110 .elementor-element.elementor-element-6f61c97 {
        padding: 150px 40px 50px 40px;
    }

    .elementor-7110 .elementor-element.elementor-element-259003f .elementor-text-editor {
        text-align: center;
    }

    .elementor-7110 .elementor-element.elementor-element-259003f {
        font-size: 15px;
    }

    .elementor-7110 .elementor-element.elementor-element-84736e4>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-68ee686 .elementor-text-editor {
        text-align: center;
    }

    .elementor-7110 .elementor-element.elementor-element-68ee686 {
        font-size: 15px;
    }

    .elementor-7110 .elementor-element.elementor-element-65d9d7a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-2c041c4 {
        text-align: center;
    }

    .elementor-7110 .elementor-element.elementor-element-2976a6c .elementor-text-editor {
        text-align: center;
    }

    .elementor-7110 .elementor-element.elementor-element-2976a6c {
        font-size: 15px;
    }

    .elementor-7110 .elementor-element.elementor-element-9736d7e {
        padding: 0px 0px 20px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-10060c2 {
        padding: 0px 0px 30px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-21a8812>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-64c0300 {
        width: 100%;
    }

    .elementor-7110 .elementor-element.elementor-element-64c0300>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-4847661.elementor-grid-mobile-0 .elementor-share-btn {
        margin-right: calc(10px / 2);
        margin-left: calc(10px / 2);
        margin-bottom: 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-4847661.elementor-grid-mobile-0 .elementor-grid {
        margin-right: calc(-10px / 2);
        margin-left: calc(-10px / 2);
    }

    .elementor-7110 .elementor-element.elementor-element-42f87cd {
        width: 100%;
    }

    .elementor-7110 .elementor-element.elementor-element-c165f3d>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-7110 .elementor-element.elementor-element-f36b8a6 {
        padding: 20px 20px 50px 20px;
    }

    .elementor-7110 .elementor-element.elementor-element-c07be22 .elementor-heading-title {
        font-size: 22px;
    }

    .elementor-7110 .elementor-element.elementor-element-0c730bf {
        padding: 0px 20px 50px 20px;
    }

    .elementor-7110 .elementor-element.elementor-element-9ac8c95 {
        padding: 50px 20px 50px 20px;
    }
}

@media(min-width:767px) {
    .elementor-7110 .elementor-element.elementor-element-4cab7ad {
        width: 70%;
    }

    .elementor-7110 .elementor-element.elementor-element-521bab0 {
        width: 100%;
    }

    .elementor-7110 .elementor-element.elementor-element-41cbb47 {
        width: 10%;
    }

    .elementor-7110 .elementor-element.elementor-element-64c0300 {
        width: 39.664%;
    }

    .elementor-7110 .elementor-element.elementor-element-42f87cd {
        width: 50%;
    }

    .elementor-7110 .elementor-element.elementor-element-3567f51 {
        width: 30%;
    }
}

@media(max-width:999px) and (min-width:767px) {
    .elementor-7110 .elementor-element.elementor-element-4cab7ad {
        width: 100%;
    }

    .elementor-7110 .elementor-element.elementor-element-de9226c {
        width: 100%;
    }

    .elementor-7110 .elementor-element.elementor-element-3567f51 {
        width: 100%;
    }
}
