.elementor-4284 .elementor-element.elementor-element-9cbbb36>.elementor-container {
    min-height: 400px;
}

.elementor-4284 .elementor-element.elementor-element-9cbbb36>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-4284 .elementor-element.elementor-element-4e0da2e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-4e0da2e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4284 .elementor-element.elementor-element-87a4679 .elementor-text-editor {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-87a4679 {
    color: rgba(221, 221, 221, 0.8666666666666667);
}

.elementor-4284 .elementor-element.elementor-element-87a4679>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-c4fe2c2 {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-c4fe2c2 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Playfair Display", Sans-serif;
    font-size: 48px;
}

.elementor-4284 .elementor-element.elementor-element-c4fe2c2>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-c5ac822 {
    --divider-border-style: solid;
    --divider-border-color: #FFFFFF;
    --divider-border-width: 100px;
    z-index: 1;
}

.elementor-4284 .elementor-element.elementor-element-c5ac822 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-4284 .elementor-element.elementor-element-c5ac822 .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-4284 .elementor-element.elementor-element-c5ac822>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
}

.elementor-4284 .elementor-element.elementor-element-c5ac822>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-95aa761 {
    --divider-border-style: solid;
    --divider-border-color: #FFFFFF;
    --divider-border-width: 50px;
    z-index: 1;
}

.elementor-4284 .elementor-element.elementor-element-95aa761 .elementor-divider-separator {
    width: 1px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-4284 .elementor-element.elementor-element-95aa761 .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-4284 .elementor-element.elementor-element-95aa761>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 35px 0px 55px 0px;
}

.elementor-4284 .elementor-element.elementor-element-95aa761>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-2a74814 .elementor-text-editor {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-2a74814 {
    color: #FFFFFF;
    font-family: "Raleway", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-4284 .elementor-element.elementor-element-2a74814>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-2a74814>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-9cbbb36:not(.elementor-motion-effects-element-type-background),
.elementor-4284 .elementor-element.elementor-element-9cbbb36>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-4284 .elementor-element.elementor-element-9cbbb36>.elementor-background-overlay {
    background-color: #000000;
    opacity: 0.1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4284 .elementor-element.elementor-element-9cbbb36 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 100px 50px 100px 50px;
}

.elementor-4284 .elementor-element.elementor-element-d9b2d2b>.elementor-container {
    max-width: 1300px;
}

.elementor-4284 .elementor-element.elementor-element-32b9133>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 50px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-a94caeb>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-251fc07>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
}

.elementor-4284 .elementor-element.elementor-element-251fc07>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-4146805 .elementor-text-editor {
    text-align: right;
}

.elementor-4284 .elementor-element.elementor-element-4146805 {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-4284 .elementor-element.elementor-element-4146805>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-4146805>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-4e7c3bb {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 35px 0px;
}

.elementor-4284 .elementor-element.elementor-element-2329c1c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-673ebce .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-4284 .elementor-element.elementor-element-673ebce>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-4284 .elementor-element.elementor-element-673ebce>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-ff0ca73 {
    color: #000000;
}

.elementor-4284 .elementor-element.elementor-element-ff0ca73>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-ced2a46 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 30px 0px;
}

.elementor-4284 .elementor-element.elementor-element-21164b8>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 15px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-731c11b>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-4284 .elementor-element.elementor-element-731c11b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-55cb2a4 .elementor-text-editor {
    text-align: right;
}

.elementor-4284 .elementor-element.elementor-element-55cb2a4 {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-4284 .elementor-element.elementor-element-55cb2a4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-55cb2a4>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-b013706>.elementor-element-populated {
    padding: 0px 0px 0px 15px;
}

.elementor-4284 .elementor-element.elementor-element-804eb8b>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-4284 .elementor-element.elementor-element-804eb8b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-717c321 .elementor-text-editor {
    text-align: right;
}

.elementor-4284 .elementor-element.elementor-element-717c321 {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-4284 .elementor-element.elementor-element-717c321>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-717c321>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-ec75588 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 80px 0px;
}

.elementor-4284 .elementor-element.elementor-element-7418ca6>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-29d0490 .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-4284 .elementor-element.elementor-element-29d0490>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-4284 .elementor-element.elementor-element-29d0490>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-e739057 {
    color: #000000;
}

.elementor-4284 .elementor-element.elementor-element-e739057>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-35b40d8>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-4284 .elementor-element.elementor-element-35b40d8>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-f23f167 .swiper-wrapper {
    display: flex;
    align-items: center;
}

.elementor-4284 .elementor-element.elementor-element-f23f167>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-dee5809 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 80px 0px;
}

.elementor-4284 .elementor-element.elementor-element-ee2e026>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-2da38fd .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4284 .elementor-element.elementor-element-2da38fd>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-2da38fd>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-5dc24cb {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #F1F1F1;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 55px 0px;
}

.elementor-4284 .elementor-element.elementor-element-5dc24cb,
.elementor-4284 .elementor-element.elementor-element-5dc24cb>.elementor-background-overlay {
    border-radius: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-5dc24cb>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4284 .elementor-element.elementor-element-835e906.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4284 .elementor-element.elementor-element-835e906.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4284 .elementor-element.elementor-element-835e906>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-5e69dbc {
    color: #65666B;
    font-size: 16px;
}

.elementor-4284 .elementor-element.elementor-element-5e69dbc>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4284 .elementor-element.elementor-element-ad84c67.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4284 .elementor-element.elementor-element-ad84c67.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4284 .elementor-element.elementor-element-ad84c67>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d:not(.elementor-grid-0) .elementor-grid {
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-grid-0 .elementor-share-btn {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
    margin-bottom: 0px;
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-grid-0 .elementor-grid {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d .elementor-share-btn {
    font-size: calc(0.8px * 10);
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d .elementor-share-btn__icon i {
    font-size: 16px;
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-flat .elementor-share-btn,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-gradient .elementor-share-btn,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-boxed .elementor-share-btn .elementor-share-btn__icon,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-minimal .elementor-share-btn .elementor-share-btn__icon {
    background-color: #232323;
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-framed .elementor-share-btn,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-minimal .elementor-share-btn,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-boxed .elementor-share-btn {
    color: #232323;
    border-color: #232323;
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-flat .elementor-share-btn__icon,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-flat .elementor-share-btn__text,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-gradient .elementor-share-btn__icon,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-gradient .elementor-share-btn__text,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-boxed .elementor-share-btn__icon,
.elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-share-buttons--skin-minimal .elementor-share-btn__icon {
    color: #FFFFFF;
}

.elementor-4284 .elementor-element.elementor-element-d7ae19d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-4284 .elementor-element.elementor-element-21f1ecc.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-4284 .elementor-element.elementor-element-21f1ecc.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-4284 .elementor-element.elementor-element-21f1ecc>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-ea5d84f span.post-navigation__prev--label,
.elementor-4284 .elementor-element.elementor-element-ea5d84f span.post-navigation__next--label {
    font-family: "Raleway", Sans-serif;
}

.elementor-4284 .elementor-element.elementor-element-ea5d84f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-eeb6233 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 18px 0px 57px 0px;
}

.elementor-4284 .elementor-element.elementor-element-c256a28>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-0a1a99b {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-0a1a99b .elementor-heading-title {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.elementor-4284 .elementor-element.elementor-element-0a1a99b>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-4284 .elementor-element.elementor-element-0a1a99b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-11935b3>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-11935b3>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-2621a2a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 50px;
}

.elementor-4284 .elementor-element.elementor-element-fb18a75>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 50px 50px 50px 50px;
    padding: 100px 40px 90px 40px;
}

.elementor-4284 .elementor-element.elementor-element-fb18a75>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4284 .elementor-element.elementor-element-1a22183 .elementor-text-editor {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-1a22183 {
    color: #FFFFFF;
    font-weight: 300;
}

.elementor-4284 .elementor-element.elementor-element-1a22183>.elementor-widget-container {
    padding: 0px 0px 100px 0px;
}

.elementor-4284 .elementor-element.elementor-element-1a22183>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-10249f1 {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-10249f1>.elementor-widget-container {
    padding: 0px 0px 23px 0px;
}

.elementor-4284 .elementor-element.elementor-element-10249f1>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-abb7c38 .elementor-text-editor {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-abb7c38 {
    color: #FFFFFF;
    font-weight: 300;
}

.elementor-4284 .elementor-element.elementor-element-abb7c38>.elementor-widget-container {
    padding: 0px 0px 145px 0px;
}

.elementor-4284 .elementor-element.elementor-element-abb7c38>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-35df7ac .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 10px 12px 10px;
}

.elementor-4284 .elementor-element.elementor-element-35df7ac>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-35df7ac>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-55605f9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 90px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-55605f9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4284 .elementor-element.elementor-element-ae1d428>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-4284 .elementor-element.elementor-element-ae1d428>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-4284 .elementor-element.elementor-element-d9b2d2b {
    padding: 70px 40px 180px 40px;
}

@media(max-width:999px) {
    .elementor-4284 .elementor-element.elementor-element-9cbbb36>.elementor-container {
        min-height: 350px;
    }

    .elementor-4284 .elementor-element.elementor-element-9cbbb36>.elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-4284 .elementor-element.elementor-element-c5ac822>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-95aa761>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-9cbbb36 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-32b9133>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 50px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-a94caeb>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-7418ca6>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-grid-tablet-0 .elementor-share-btn {
        margin-right: calc(10px / 2);
        margin-left: calc(10px / 2);
        margin-bottom: 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-grid-tablet-0 .elementor-grid {
        margin-right: calc(-10px / 2);
        margin-left: calc(-10px / 2);
    }

    .elementor-4284 .elementor-element.elementor-element-2621a2a>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-d9b2d2b {
        padding: 50px 40px 50px 40px;
    }
}

@media(max-width:766px) {
    .elementor-4284 .elementor-element.elementor-element-9cbbb36>.elementor-container {
        min-height: 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-9cbbb36>.elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-4284 .elementor-element.elementor-element-c4fe2c2 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-4284 .elementor-element.elementor-element-2a74814 {
        font-size: 15px;
    }

    .elementor-4284 .elementor-element.elementor-element-9cbbb36 {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-4146805 .elementor-text-editor {
        text-align: center;
    }

    .elementor-4284 .elementor-element.elementor-element-4146805 {
        font-size: 15px;
    }

    .elementor-4284 .elementor-element.elementor-element-21164b8>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-55cb2a4 .elementor-text-editor {
        text-align: center;
    }

    .elementor-4284 .elementor-element.elementor-element-55cb2a4 {
        font-size: 15px;
    }

    .elementor-4284 .elementor-element.elementor-element-b013706>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-804eb8b {
        text-align: center;
    }

    .elementor-4284 .elementor-element.elementor-element-717c321 .elementor-text-editor {
        text-align: center;
    }

    .elementor-4284 .elementor-element.elementor-element-717c321 {
        font-size: 15px;
    }

    .elementor-4284 .elementor-element.elementor-element-ec75588 {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-dee5809 {
        padding: 0px 0px 30px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-5e69dbc>.elementor-widget-container {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-ad84c67 {
        width: 100%;
    }

    .elementor-4284 .elementor-element.elementor-element-ad84c67>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-grid-mobile-0 .elementor-share-btn {
        margin-right: calc(10px / 2);
        margin-left: calc(10px / 2);
        margin-bottom: 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-d7ae19d.elementor-grid-mobile-0 .elementor-grid {
        margin-right: calc(-10px / 2);
        margin-left: calc(-10px / 2);
    }

    .elementor-4284 .elementor-element.elementor-element-21f1ecc {
        width: 100%;
    }

    .elementor-4284 .elementor-element.elementor-element-eeb6233 {
        padding: 20px 20px 50px 20px;
    }

    .elementor-4284 .elementor-element.elementor-element-0a1a99b .elementor-heading-title {
        font-size: 22px;
    }

    .elementor-4284 .elementor-element.elementor-element-11935b3>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-ce63cc1 {
        padding: 0px 20px 50px 20px;
    }

    .elementor-4284 .elementor-element.elementor-element-fb18a75>.elementor-element-populated {
        margin: 20px 20px 20px 20px;
        padding: 50px 30px 50px 30px;
    }

    .elementor-4284 .elementor-element.elementor-element-55605f9 {
        margin-top: 0px;
        margin-bottom: 50px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4284 .elementor-element.elementor-element-d9b2d2b {
        padding: 50px 20px 50px 20px;
    }
}

@media(min-width:767px) {
    .elementor-4284 .elementor-element.elementor-element-32b9133 {
        width: 70%;
    }

    .elementor-4284 .elementor-element.elementor-element-835e906 {
        width: 10%;
    }

    .elementor-4284 .elementor-element.elementor-element-ad84c67 {
        width: 39.664%;
    }

    .elementor-4284 .elementor-element.elementor-element-21f1ecc {
        width: 50%;
    }

    .elementor-4284 .elementor-element.elementor-element-2621a2a {
        width: 30%;
    }
}

@media(max-width:999px) and (min-width:767px) {
    .elementor-4284 .elementor-element.elementor-element-32b9133 {
        width: 100%;
    }

    .elementor-4284 .elementor-element.elementor-element-c256a28 {
        width: 100%;
    }

    .elementor-4284 .elementor-element.elementor-element-2621a2a {
        width: 100%;
    }
}
