/* single product inline css */

.elementor-3853 .elementor-element.elementor-element-6d241cb3>.elementor-container {
    max-width: 1770px;
}

.elementor-3853 .elementor-element.elementor-element-50ab1e4>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-77ead1e {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-77ead1e .elementor-image img {
    width: 20%;
    filter: brightness(0%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

.elementor-3853 .elementor-element.elementor-element-77ead1e>.elementor-widget-container {
    padding: 0px 0px 25px 0px;
}

.elementor-3853 .elementor-element.elementor-element-77ead1e>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-eedda7d span.post-navigation__prev--label {
    color: #000000;
}

.elementor-3853 .elementor-element.elementor-element-eedda7d span.post-navigation__next--label {
    color: #000000;
}

.elementor-3853 .elementor-element.elementor-element-eedda7d span.post-navigation__prev--label,
.elementor-3853 .elementor-element.elementor-element-eedda7d span.post-navigation__next--label {
    font-size: 12px;
    text-transform: none;
}

.elementor-3853 .elementor-element.elementor-element-eedda7d .post-navigation__arrow-wrapper {
    color: #000000;
    font-size: 50px;
}

.elementor-3853 .elementor-element.elementor-element-eedda7d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-6a49fd6 .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-6a49fd6 {
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-3853 .elementor-element.elementor-element-6a49fd6>.elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-3853 .elementor-element.elementor-element-6a49fd6>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-c711693 .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-c711693 {
    color: #000000;
    font-family: "Playfair Display", Sans-serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
}

body:not(.rtl) .elementor-3853 .elementor-element.elementor-element-c711693 .elementor-drop-cap {
    margin-right: 10px;
}

body.rtl .elementor-3853 .elementor-element.elementor-element-c711693 .elementor-drop-cap {
    margin-left: 10px;
}

.elementor-3853 .elementor-element.elementor-element-c711693>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-6d241cb3:not(.elementor-motion-effects-element-type-background),
.elementor-3853 .elementor-element.elementor-element-6d241cb3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-3853 .elementor-element.elementor-element-6d241cb3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 40px 35px 40px;
}

.elementor-3853 .elementor-element.elementor-element-6d241cb3>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-a7c0b28>.elementor-container {
    max-width: 1820px;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-6cc11632.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-6cc11632.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-6cc11632>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button-text-icon-wrapper i,
.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button-text-icon-wrapper svg {
    margin-right: 15px;
}

.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button {
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
}

.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button,
.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button.premium-button-style2-shutinhor:before,
.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button.premium-button-style2-shutinver:before,
.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button-style5-radialin:before,
.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button-style5-rectin:before {
    background-color: rgba(0, 0, 0, 0);
}

.elementor-3853 .elementor-element.elementor-element-1c53282 .premium-button:hover .premium-button-text-icon-wrapper span {
    color: #FFFFFF;
}

.elementor-3853 .elementor-element.elementor-element-1c53282>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-20ec7217.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-20ec7217.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-20ec7217>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-2671b56 .elementor-image img {
    width: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-2671b56 .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-2671b56>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-947b8ce .elementor-image img {
    width: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-947b8ce .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-947b8ce>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-e541d00 .elementor-image img {
    width: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-e541d00 .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-e541d00>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-1006ee6 .elementor-image img {
    width: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-1006ee6 .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-1006ee6>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-a162f1f .elementor-image img {
    width: 100px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-a162f1f .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-a162f1f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-5d92814 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-413d643.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-413d643.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-413d643>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-b58c338>.elementor-element-populated {
    padding: 0px 10px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-60f0293>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-64bd379>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-7cb898f>.elementor-widget-container {
    padding: 0px 0px 0px 25px;
}

.elementor-3853 .elementor-element.elementor-element-7cb898f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-1af26e8 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-a7c0b28 {
    padding: 50px 50px 50px 50px;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-a03bc15.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-a03bc15.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-11dd393 .elementor-image img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-11dd393 .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-11dd393>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-f445b60 .elementor-image img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-f445b60 .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-f445b60>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-8fbb5b9 .elementor-image img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-8fbb5b9 .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-8fbb5b9>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-c11f20d .elementor-image img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-c11f20d .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-c11f20d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-8ebcab0 .elementor-image img {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.elementor-3853 .elementor-element.elementor-element-8ebcab0 .widget-image-caption {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 12px;
}

.elementor-3853 .elementor-element.elementor-element-8ebcab0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-8703fd7 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-1bcae0a.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-1bcae0a.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-1bcae0a>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button-container {
    text-align: left;
}

.elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button {
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
}

.elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button,
.elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button.premium-button-style2-shutinhor:before,
.elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button.premium-button-style2-shutinver:before,
.elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button-style5-radialin:before,
.elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button-style5-rectin:before {
    background-color: rgba(0, 0, 0, 0);
}

.elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button:hover .premium-button-text-icon-wrapper span {
    color: #FFFFFF;
}

.elementor-3853 .elementor-element.elementor-element-13f61dc>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-61eec62.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-61eec62.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-f4f5f44>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-48b3bd0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-ed34a76 {
    padding: 50px 50px 50px 50px;
}

.elementor-3853 .elementor-element.elementor-element-a9007c2>.elementor-container {
    min-height: 730px;
}

.elementor-3853 .elementor-element.elementor-element-a9007c2>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-3853 .elementor-element.elementor-element-7cae9fa>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-39189f4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-39189f4>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-3b6e0b1>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-aacf16e>.elementor-container {
    min-height: 330px;
}

.elementor-3853 .elementor-element.elementor-element-20238e7>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-20238e7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-54ccd2c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-54ccd2c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-aacf16e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-aacf16e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-89c0cd1>.elementor-container {
    min-height: 400px;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-cd7e4b8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-cd7e4b8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-cd7e4b8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-cd7e4b8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-89c0cd1:not(.elementor-motion-effects-element-type-background),
.elementor-3853 .elementor-element.elementor-element-89c0cd1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-3853 .elementor-element.elementor-element-89c0cd1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-89c0cd1>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-32445a8>.elementor-container {
    max-width: 1525px;
}

.elementor-3853 .elementor-element.elementor-element-a742e20>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-d299f44.ae-woo-tabs-view-horizontal .ae-woo-tabs-wrapper {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-d299f44 .ae-woo-tab-title,
.elementor-3853 .elementor-element.elementor-element-d299f44 .ae-woo-tab-title:before,
.elementor-3853 .elementor-element.elementor-element-d299f44 .ae-woo-tab-title:after,
.elementor-3853 .elementor-element.elementor-element-d299f44 .ae-woo-tab-content,
.elementor-3853 .elementor-element.elementor-element-d299f44 .ae-woo-tabs-content-wrapper {
    border-width: 0px;
}

.elementor-3853 .elementor-element.elementor-element-d299f44 .ae-woo-tab-title.active {
    color: #000000;
}

.elementor-3853 .elementor-element.elementor-element-d299f44 .ae-woo-tab-title {
    font-size: 24px;
    text-transform: uppercase;
}

.elementor-3853 .elementor-element.elementor-element-d299f44>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-d299f44>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-32445a8:not(.elementor-motion-effects-element-type-background),
.elementor-3853 .elementor-element.elementor-element-32445a8>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
}

.elementor-3853 .elementor-element.elementor-element-32445a8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 55px 40px 55px 40px;
    z-index: 999;
}

.elementor-3853 .elementor-element.elementor-element-32445a8>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-4610a605.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-4610a605.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-4610a605>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-536e2533.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-536e2533.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-536e2533>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-6950efba>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-6950efba>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-7d03b6f5.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-7d03b6f5.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3853 .elementor-element.elementor-element-7d03b6f5>.elementor-element-populated {
    padding: 50px 50px 50px 50px;
}

.elementor-3853 .elementor-element.elementor-element-6bfee7f2 .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-6bfee7f2 {
    color: #000000;
    text-transform: uppercase;
}

.elementor-3853 .elementor-element.elementor-element-6bfee7f2>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-67495c8 .elementor-spacer-inner {
    height: 10px;
}

.elementor-3853 .elementor-element.elementor-element-67495c8>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-3b20232d .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-3b20232d {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.elementor-3853 .elementor-element.elementor-element-3b20232d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-1b0e5b64 .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-1b0e5b64 {
    color: #000000;
}

.elementor-3853 .elementor-element.elementor-element-1b0e5b64>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-15714374 .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 80px 15px 80px;
}

.elementor-3853 .elementor-element.elementor-element-15714374>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-15714374>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-73cb8917 {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 50px 50px 50px;
}

.elementor-3853 .elementor-element.elementor-element-73cb8917>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-4287772 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 50px 50px 50px 50px;
}

.elementor-3853 .elementor-element.elementor-element-4287772>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-4e7127c>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-cccb2aa .elementor-spacer-inner {
    height: 50px;
}

.elementor-3853 .elementor-element.elementor-element-cccb2aa>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-7633e04 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-7633e04 .elementor-icon {
    font-size: 100px;
}

.elementor-3853 .elementor-element.elementor-element-7633e04 .elementor-icon i,
.elementor-3853 .elementor-element.elementor-element-7633e04 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-3853 .elementor-element.elementor-element-7633e04>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-b0ce2e1>.elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 50px 0px;
}

.elementor-3853 .elementor-element.elementor-element-b0ce2e1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-5cca642 .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-5cca642 {
    color: #000000;
    font-family: "Raleway", Sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.elementor-3853 .elementor-element.elementor-element-5cca642>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
}

.elementor-3853 .elementor-element.elementor-element-5cca642>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-54c7915 {
    padding: 20px 0px 20px 0px;
}

.elementor-3853 .elementor-element.elementor-element-95f94cf>.elementor-container {
    max-width: 1565px;
}

.elementor-3853 .elementor-element.elementor-element-b8d4202>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-1c7076f .ae-grid-item {
    width: calc(100%/4);
    padding: calc(100px/2);
}

.elementor-3853 .elementor-element.elementor-element-1c7076f>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-1c7076f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-95f94cf {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-06cb888>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 25px 50px 50px 50px;
}

.elementor-3853 .elementor-element.elementor-element-06cb888>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-df067a0 {
    color: #282828;
    font-size: 14px;
    line-height: 1.2em;
}

.elementor-3853 .elementor-element.elementor-element-df067a0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-7cf8735 {
    padding: 20px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-3844f2c {
    padding: 0px 40px 60px 40px;
}

.elementor-3853 .elementor-element.elementor-element-535e5fda>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-535e5fda>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-4a3e0473>.elementor-container {
    max-width: 900px;
}

.elementor-3853 .elementor-element.elementor-element-6ee450b1:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-3853 .elementor-element.elementor-element-6ee450b1>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: rgba(0, 0, 0, 0.75);
}

.elementor-3853 .elementor-element.elementor-element-6ee450b1>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    padding: 70px 20px 60px 20px;
}

.elementor-3853 .elementor-element.elementor-element-6ee450b1>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-2c6cfe4 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-2c6cfe4 .elementor-icon i,
.elementor-3853 .elementor-element.elementor-element-2c6cfe4 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-3853 .elementor-element.elementor-element-2c6cfe4>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-4daf997b .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-4daf997b {
    color: #FFFFFF;
    font-size: 16px;
}

.elementor-3853 .elementor-element.elementor-element-4daf997b>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-6b5b3a71 {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-6b5b3a71 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
}

.elementor-3853 .elementor-element.elementor-element-6b5b3a71>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-3853 .elementor-element.elementor-element-6b5b3a71>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-2a88947f .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #FFFFFF;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 80px 15px 80px;
}

.elementor-3853 .elementor-element.elementor-element-2a88947f>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-2a88947f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-4a3e0473 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-4a3e0473>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-21a33e94:not(.elementor-motion-effects-element-type-background),
.elementor-3853 .elementor-element.elementor-element-21a33e94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-3853 .elementor-element.elementor-element-21a33e94 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 75px 50px 75px 50px;
}

.elementor-3853 .elementor-element.elementor-element-21a33e94>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3853 .elementor-element.elementor-element-6823f0a0>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-e3d3593 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-e3d3593 .elementor-icon {
    font-size: 60px;
}

.elementor-3853 .elementor-element.elementor-element-e3d3593 .elementor-icon i,
.elementor-3853 .elementor-element.elementor-element-e3d3593 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-3853 .elementor-element.elementor-element-e3d3593>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-4e32036c .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-4e32036c {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.elementor-3853 .elementor-element.elementor-element-4e32036c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 5px 0px;
}

.elementor-3853 .elementor-element.elementor-element-4e32036c>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-1a6f28f1 .elementor-text-editor {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-1a6f28f1 {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}

.elementor-3853 .elementor-element.elementor-element-1a6f28f1>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-1a6f28f1>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-39f4412f .elementor-button {
    font-family: "Raleway", Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    fill: #000000;
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #2B2B2B;
    border-radius: 0px 0px 0px 0px;
    padding: 15px 80px 15px 80px;
}

.elementor-3853 .elementor-element.elementor-element-39f4412f>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3853 .elementor-element.elementor-element-39f4412f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3853 .elementor-element.elementor-element-72ffab5 {
    padding: 0px 40px 50px 40px;
}

@media(max-width:999px) {
    .elementor-3853 .elementor-element.elementor-element-77ead1e .elementor-image img {
        width: 50%;
    }

    .elementor-3853 .elementor-element.elementor-element-c711693 {
        font-size: 30px;
    }

    .elementor-3853 .elementor-element.elementor-element-a03bc15>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button-container {
        text-align: center;
    }

    .elementor-bc-flex-widget .elementor-3853 .elementor-element.elementor-element-61eec62.elementor-column .elementor-column-wrap {
        align-items: center;
    }

    .elementor-3853 .elementor-element.elementor-element-61eec62.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }

    .elementor-3853 .elementor-element.elementor-element-6b4ac35>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-a02c4e1 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-d299f44.ae-woo-tabs-view-horizontal .ae-woo-tabs-wrapper {
        text-align: center;
    }

    .elementor-3853 .elementor-element.elementor-element-6bfee7f2>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 5px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-73cb8917 {
        padding: 20px 20px 20px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-7633e04 .elementor-icon {
        font-size: 60px;
    }

    .elementor-3853 .elementor-element.elementor-element-54c7915 {
        padding: 20px 0px 20px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-1c7076f .ae-grid-item {
        width: calc(100%/2);
    }

    .elementor-3853 .elementor-element.elementor-element-95f94cf {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-7cf8735 {
        padding: 20px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-e3d3593 .elementor-icon {
        font-size: 60px;
    }

    .elementor-3853 .elementor-element.elementor-element-1a6f28f1>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
}

@media(max-width:766px) {
    .elementor-3853 .elementor-element.elementor-element-77ead1e .elementor-image img {
        width: 50%;
    }

    .elementor-3853 .elementor-element.elementor-element-c711693 {
        font-size: 26px;
    }

    .elementor-3853 .elementor-element.elementor-element-6d241cb3 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-20ec7217>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-f537282 {
        width: 50%;
    }

    .elementor-3853 .elementor-element.elementor-element-5d92814 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 50px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-64bd379 {
        width: 33%;
    }

    .elementor-3853 .elementor-element.elementor-element-1af26e8 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 20px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-a7c0b28 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 20px 50px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-a03bc15>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-096986c {
        width: 20%;
    }

    .elementor-3853 .elementor-element.elementor-element-e65a67f {
        width: 20%;
    }

    .elementor-3853 .elementor-element.elementor-element-b062db4 {
        width: 20%;
    }

    .elementor-3853 .elementor-element.elementor-element-2766a43 {
        width: 20%;
    }

    .elementor-3853 .elementor-element.elementor-element-cb20d85 {
        width: 20%;
    }

    .elementor-3853 .elementor-element.elementor-element-8703fd7 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 30px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-1bcae0a {
        width: 70%;
    }

    .elementor-3853 .elementor-element.elementor-element-13f61dc .premium-button-container {
        text-align: left;
    }

    .elementor-3853 .elementor-element.elementor-element-61eec62 {
        width: 30%;
    }

    .elementor-3853 .elementor-element.elementor-element-61eec62>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-6b4ac35 {
        width: 50%;
    }

    .elementor-3853 .elementor-element.elementor-element-6b4ac35>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-f4f5f44>.elementor-widget-container {
        padding: 0px 25px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-8ba5fef {
        width: 50%;
    }

    .elementor-3853 .elementor-element.elementor-element-8ba5fef>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-48b3bd0>.elementor-widget-container {
        padding: 0px 0px 0px 30px;
    }

    .elementor-3853 .elementor-element.elementor-element-a02c4e1 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-ed34a76 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 20px 50px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-d299f44.ae-woo-tabs-view-horizontal .ae-woo-tabs-wrapper {
        text-align: center;
    }

    .elementor-3853 .elementor-element.elementor-element-d299f44 .ae-woo-tab-title {
        font-size: 18px;
    }

    .elementor-3853 .elementor-element.elementor-element-32445a8 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-4287772 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-7633e04 .elementor-icon {
        font-size: 50px;
    }

    .elementor-3853 .elementor-element.elementor-element-b8d4202>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-1c7076f .ae-grid-item {
        width: calc(100%/1);
    }

    .elementor-3853 .elementor-element.elementor-element-95f94cf {
        padding: 20px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-06cb888>.elementor-element-populated {
        padding: 0px 20px 20px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-7cf8735 {
        padding: 20px 0px 0px 0px;
    }

    .elementor-3853 .elementor-element.elementor-element-3844f2c {
        padding: 0px 20px 50px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-21a33e94 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 20px 20px 20px;
    }

    .elementor-3853 .elementor-element.elementor-element-e3d3593 .elementor-icon {
        font-size: 50px;
    }

    .elementor-3853 .elementor-element.elementor-element-72ffab5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 20px 50px 20px;
    }
}

@media(min-width:767px) {
    .elementor-3853 .elementor-element.elementor-element-50ab1e4 {
        width: 100%;
    }

    .elementor-3853 .elementor-element.elementor-element-a03bc15 {
        width: 39.333%;
    }

    .elementor-3853 .elementor-element.elementor-element-1bcae0a {
        width: 30%;
    }

    .elementor-3853 .elementor-element.elementor-element-61eec62 {
        width: 30%;
    }

    .elementor-3853 .elementor-element.elementor-element-7cae9fa {
        width: 59.953%;
    }

    .elementor-3853 .elementor-element.elementor-element-3b6e0b1 {
        width: 40%;
    }

    .elementor-3853 .elementor-element.elementor-element-20238e7 {
        width: 100%;
    }
}

@media(max-width:999px) and (min-width:767px) {
    .elementor-3853 .elementor-element.elementor-element-a03bc15 {
        width: 100%;
    }

    .elementor-3853 .elementor-element.elementor-element-1bcae0a {
        width: 50%;
    }

    .elementor-3853 .elementor-element.elementor-element-61eec62 {
        width: 50%;
    }
}

/* Start custom CSS for post-navigation, class: .elementor-element-eedda7d */
.post-navigation__arrow-wrapper {
    transform: scale(0.5);
}

/* End custom CSS */
/* Start custom CSS for post-navigation, class: .elementor-element-eedda7d */
.post-navigation__arrow-wrapper {
    transform: scale(0.5);
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a7c0b28 */
.swiper-image-stretch .swiper-slide .swiper-slide-image {
    /* width: 100%; */
    width: 100% !important;
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    object-fit: fill !important;
}

div[data-widget_type="image-carousel.default"] * {
    height: 100% !important;
    xmin-height: 100% !important;
    xmax-height: 100% !important;
}

.swiper-pagination-bullet {
    height: unset !important;
    max-height: 20px !important;
    xposition: relative;
    xbottom: 30px;
    xleft: 50px;
    align-content: flex-end;
}

.swiper-pagination {
    position: absolute;
    display: flex;
    top: 20px;
    left: -50px !important;
}

@media only screen and (max-width: 600px) {
    .swiper-pagination {
        left: -200px !important;
    }
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-aacf16e */
.elementor-3853 .elementor-element.elementor-element-aacf16e .elementor-col-50 {
    max-height: 800px;
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a9007c2 */
@media only screen and (min-width: 600px) {
    #prowid,
    #prowid div {
        max-height: 750px !important;
    }
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    /* margin: 0 6px; */
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
}

@media only screen and (min-width: 600px) {
    span[aria-label="Go to slide 1"] {
        margin-left: 80% !important;
    }
}

@media only screen and (max-width: 600px) {
    span[aria-label="Go to slide 1"] {
        margin-left: 70% !important;
    }
}

.gc-fixed-img {
    height: 100%;
}

.swiper-pagination-bullet {
    min-width: 20px;
}

@media only screen and (max-width: 1800px) and (min-width:760px) {

    .gc-gallery-acf,
    .swiper-image-stretch .swiper-slide .swiper-slide-image {
        /* width: 100%; */
        width: 100% !important;
        height: 100% !important;
        min-height: 100% !important;
        max-height: 100% !important;
        object-fit: fill !important;
    }

    div[data-widget_type="image-carousel.default"] * {
        height: 100% !important;
        xmin-height: 100% !important;
        xmax-height: 100% !important;
    }

    .swiper-pagination-bullet {
        height: unset !important;
        max-height: 20px !important;
        min-width: 20px;
        xposition: relative;
        xbottom: 30px;
        xleft: 50px;
        align-content: flex-end;
    }
}

/* End custom CSS */

.elementor-3853 .elementor-element.elementor-element-21a33e94:not(.elementor-motion-effects-element-type-background),
.elementor-3853 .elementor-element.elementor-element-21a33e94>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://cdn.shopify.com/s/files/1/0422/9274/0261/files/banner-CTA-FIND-DEALER-pravada-website-96dpi-1.jpg?v=1598295191");
}
