.elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-container {
    min-height: 400px;
}

.elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-3647 .elementor-element.elementor-element-3153c60>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3647 .elementor-element.elementor-element-acaee84 .elementor-image img {
    width: 25%;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
}

@media only screen and (max-width: 600px) {
    .elementor-3647 .elementor-element.elementor-element-acaee84 .elementor-image img {
        width: 80%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .elementor-3647 .elementor-element.elementor-element-acaee84 .elementor-image img {
        width: 50%;
    }
}

.elementor-3647 .elementor-element.elementor-element-acaee84>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-3647 .elementor-element.elementor-element-acaee84>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-5a51872 .elementor-text-editor {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-5a51872 {
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-3647 .elementor-element.elementor-element-5a51872>.elementor-widget-container {
    padding: 0px 0px 10px 0px;
}

.elementor-3647 .elementor-element.elementor-element-5a51872>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-784603d .elementor-text-editor {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-784603d {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.2em;
}

.elementor-3647 .elementor-element.elementor-element-784603d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3647 .elementor-element.elementor-element-784603d>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-9d38174 .elementor-text-editor {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-9d38174 {
    font-family: "Playfair Display", Sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
}

body:not(.rtl) .elementor-3647 .elementor-element.elementor-element-9d38174 .elementor-drop-cap {
    margin-right: 10px;
}

body.rtl .elementor-3647 .elementor-element.elementor-element-9d38174 .elementor-drop-cap {
    margin-left: 10px;
}

.elementor-3647 .elementor-element.elementor-element-9d38174>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-bfe2690:not(.elementor-motion-effects-element-type-background),
.elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-3647 .elementor-element.elementor-element-bfe2690:hover {
    background-color: rgba(255, 255, 255, 0.56);
}

.elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-background-overlay {
    background-color: rgba(255, 255, 255, 0);
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3647 .elementor-element.elementor-element-bfe2690:hover>.elementor-background-overlay {
    opacity: 0.5;
}

.elementor-3647 .elementor-element.elementor-element-bfe2690 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 40px 35px 40px;
}

.elementor-3647 .elementor-element.elementor-element-9437200>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-3647 .elementor-element.elementor-element-a11a2c1.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3647 .elementor-element.elementor-element-a11a2c1.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3647 .elementor-element.elementor-element-a11a2c1>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 50px 50px 50px 50px;
}

.elementor-3647 .elementor-element.elementor-element-b4495d0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-3647 .elementor-element.elementor-element-0578c07.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3647 .elementor-element.elementor-element-0578c07.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3647 .elementor-element.elementor-element-0578c07>.elementor-element-populated {
    margin: 50px 50px 50px 50px;
    padding: 50px 50px 50px 50px;
}

.elementor-3647 .elementor-element.elementor-element-49fb9dc .elementor-heading-title {
    color: #000000;
    font-family: "Playfair Display", Sans-serif;
    font-size: 30px;
    line-height: 1.2em;
}

.elementor-3647 .elementor-element.elementor-element-49fb9dc>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-428de73 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2em;
}

.elementor-3647 .elementor-element.elementor-element-428de73>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-159bdf1 {
    color: #000000;
    font-size: 18px;
    line-height: 1.2em;
}

.elementor-3647 .elementor-element.elementor-element-159bdf1>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-2842fda {
    color: #000000;
    font-size: 24px;
    line-height: 1.2em;
}

.elementor-3647 .elementor-element.elementor-element-2842fda>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-af88450 {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3647 .elementor-element.elementor-element-baf02f5 {
    padding: 50px 50px 50px 50px;
}

.elementor-3647 .elementor-element.elementor-element-0c01d05>.elementor-container {
    max-width: 1295px;
}

.elementor-3647 .elementor-element.elementor-element-9d9cc6f.elementor-wc-products ul.products {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.elementor-3647 .elementor-element.elementor-element-9d9cc6f.elementor-wc-products ul.products li.product span.onsale {
    display: block;
}

.elementor-3647 .elementor-element.elementor-element-9d9cc6f>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

.elementor-bc-flex-widget .elementor-3647 .elementor-element.elementor-element-fc573ef.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-3647 .elementor-element.elementor-element-fc573ef.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-3647 .elementor-element.elementor-element-fc573ef>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button-text-icon-wrapper i,
.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button-text-icon-wrapper svg {
    margin-right: 15px;
}

.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button-container {
    text-align: center;
}

.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button {
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
}

.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button,
.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button.premium-button-style2-shutinhor:before,
.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button.premium-button-style2-shutinver:before,
.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button-style5-radialin:before,
.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button-style5-rectin:before {
    background-color: rgba(0, 0, 0, 0);
}

.elementor-3647 .elementor-element.elementor-element-c5aa0f0 .premium-button:hover .premium-button-text-icon-wrapper span {
    color: #FFFFFF;
}

.elementor-3647 .elementor-element.elementor-element-c5aa0f0>.tippy-popper .tippy-tooltip .tippy-content {
    text-align: center;
}

@media(min-width:767px) {
    .elementor-3647 .elementor-element.elementor-element-3153c60 {
        width: 100%;
    }

    .elementor-3647 .elementor-element.elementor-element-ea07ac4 {
        width: 100%;
    }
}

@media(max-width:999px) and (min-width:767px) {
    .elementor-3647 .elementor-element.elementor-element-a11a2c1 {
        width: 100%;
    }

    .elementor-3647 .elementor-element.elementor-element-0578c07 {
        width: 100%;
    }
}

@media(min-width:1000px) {

    .elementor-3647 .elementor-element.elementor-element-bfe2690:not(.elementor-motion-effects-element-type-background),
    .elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: scroll;
    }
}

@media(max-width:999px) {
    .elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-container {
        min-height: 200px;
    }

    .elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-3647 .elementor-element.elementor-element-9d38174 {
        font-size: 30px;
    }

    .elementor-3647 .elementor-element.elementor-element-bfe2690:not(.elementor-motion-effects-element-type-background),
    .elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: center center;
    }

    .elementor-3647 .elementor-element.elementor-element-a11a2c1>.elementor-element-populated {
        padding: 0px 0px 50px 0px;
    }

    .elementor-3647 .elementor-element.elementor-element-0578c07>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-3647 .elementor-element.elementor-element-9d9cc6f.elementor-wc-products ul.products {
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }
}

@media(max-width:766px) {
    .elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-container {
        min-height: 100px;
    }

    .elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-container:after {
        content: "";
        min-height: inherit;
    }

    .elementor-3647 .elementor-element.elementor-element-784603d {
        font-size: 18px;
    }

    .elementor-3647 .elementor-element.elementor-element-9d38174 {
        font-size: 26px;
    }

    .elementor-3647 .elementor-element.elementor-element-bfe2690:not(.elementor-motion-effects-element-type-background),
    .elementor-3647 .elementor-element.elementor-element-bfe2690>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: center center;
    }

    .elementor-3647 .elementor-element.elementor-element-bfe2690 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-3647 .elementor-element.elementor-element-9437200>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3647 .elementor-element.elementor-element-a11a2c1>.elementor-element-populated {
        padding: 0px 0px 20px 0px;
    }

    .elementor-3647 .elementor-element.elementor-element-0578c07>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-3647 .elementor-element.elementor-element-49fb9dc .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-3647 .elementor-element.elementor-element-428de73 {
        font-size: 16px;
    }

    .elementor-3647 .elementor-element.elementor-element-159bdf1 {
        font-size: 16px;
    }

    .elementor-3647 .elementor-element.elementor-element-2842fda {
        font-size: 16px;
    }

    .elementor-3647 .elementor-element.elementor-element-af88450 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 20px 20px 20px;
    }

    .elementor-3647 .elementor-element.elementor-element-baf02f5 {
        padding: 50px 20px 50px 20px;
    }

    .elementor-3647 .elementor-element.elementor-element-9d9cc6f.elementor-wc-products ul.products {
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }
}

/* Start custom CSS for section, class: .elementor-element-bfe2690 */
.product-nav-sec {
    margin-top: -20px;
}

/* End custom CSS */
/* Start custom CSS for wc-archive-products, class: .elementor-element-9d9cc6f */
.price,
.tinvwl-after-add-to-cart {
    display: none !important;
}

.picture:before {
    opacity: 0 !important;
    visibility: hidden !important;
}

.mb-prodID {
    border: none !important;
    width: auto !important;
    position: absolute !important;

    top: 300px;
    left: 180px;
}

.tinv-wraper {
    position: absolute;
    top: 240px;
    left: 120px;
}

.mb-products-already.pum-trigger,
.product-content-img-wrap-two img {

    position: absolute !important;

    top: 300px;
    left: 180px;
}

.tinvwl_add_to_wishlist_button {
    color: white;
}

ul.products li.product {
    margin: 2%;
}

ul.products {
    display: flex;
}

/* End custom CSS */
/* Start custom CSS for wc-archive-products, class: .elementor-element-9d9cc6f */
.price,
.tinvwl-after-add-to-cart {
    display: none !important;
}

.picture:before {
    opacity: 0 !important;
    visibility: hidden !important;
}

.mb-prodID {
    border: none !important;
    width: auto !important;
    position: absolute !important;

    top: 300px;
    left: 180px;
}

.tinv-wraper {
    position: absolute;
    top: 240px;
    left: 120px;
}

.mb-products-already.pum-trigger,
.product-content-img-wrap-two img {

    position: absolute !important;

    top: 300px;
    left: 180px;
}

.tinvwl_add_to_wishlist_button {
    color: white;
}

ul.products li.product {
    margin: 2%;
}

ul.products {
    display: flex;
}

/* End custom CSS */

.elementor-3647 .elementor-element.elementor-element-5a51872 {
    color: #ffffff;
}

.elementor-3647 .elementor-element.elementor-element-784603d {
    color: #ffffff;
}

.elementor-3647 .elementor-element.elementor-element-9d38174 {
    color: #ffffff;
}

.elementor-9852 .elementor-element.elementor-element-3a068c13 .elementor-heading-title.all-products {
    font-size: 48px;
}

@media only screen and (max-width: 600px) {
    .elementor-9852 .elementor-element.elementor-element-3a068c13 .elementor-heading-title.all-products {
        font-size: 32px;
    }
}