<link rel='stylesheet' id='404-inline-css' href="{{ '404-inline.css' | asset_url }}"
  type='text/css' media='all' />

<!-- /templates/404.liquid -->
<div data-elementor-type="single" data-elementor-id="4573" class="elementor elementor-4573 elementor-location-single"
  data-elementor-settings="[]">
  <div class="elementor-inner">
    <div class="elementor-section-wrap">
      <section
        class="has_ae_slider elementor-element elementor-element-767cf9f elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
        data-id="767cf9f" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div
              class="has_ae_slider elementor-element elementor-element-6741f43 ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
              data-id="6741f43" data-element_type="column">
              <div class="elementor-column-wrap  elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div class="elementor-element elementor-element-f02a102 elementor-widget elementor-widget-image"
                    data-id="f02a102" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-image">
                        <img width="900" height="450"
                          src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/404-ERROR-pravada-website.png?v=1598385171"
                          class="attachment-full size-full" alt=""
                          srcset=""
                          sizes="(max-width: 900px) 100vw, 900px" /> </div>
                    </div>
                  </div>
                  <section
                    class="has_ae_slider elementor-element elementor-element-5a256af elementor-section-content-top elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                    data-id="5a256af" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div
                          class="has_ae_slider elementor-element elementor-element-6c35cd2 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                          data-id="6c35cd2" data-element_type="column">
                          <div class="elementor-column-wrap">
                            <div class="elementor-widget-wrap">
                            </div>
                          </div>
                        </div>
                        <div
                          class="has_ae_slider elementor-element elementor-element-8f0d032 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                          data-id="8f0d032" data-element_type="column">
                          <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-4028911 elementor-widget elementor-widget-text-editor"
                                data-id="4028911" data-element_type="widget" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                  <div class="elementor-text-editor elementor-clearfix">
                                    The page you were looking for doesn&#8217;t
                                    exist.
                                    You may have mistyped the address or the
                                    page may have moved. Sorry! :(</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="has_ae_slider elementor-element elementor-element-a742946 elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-top-section"
        data-id="a742946" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
          <div class="elementor-row">
            <div
              class="has_ae_slider elementor-element elementor-element-83e570b ae-bg-gallery-type-default elementor-column elementor-col-100 elementor-top-column"
              data-id="83e570b" data-element_type="column">
              <div class="elementor-column-wrap  elementor-element-populated">
                <div class="elementor-widget-wrap">
                  <div
                    class="elementor-element elementor-element-b0b41c0 gc-sub-title elementor-widget elementor-widget-text-editor"
                    data-id="b0b41c0" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                      <div class="elementor-text-editor elementor-clearfix">TRY AGAIN</div>
                    </div>
                  </div>
                  <section
                    class="has_ae_slider elementor-element elementor-element-144ae8f elementor-section-boxed elementor-section-height-default elementor-section-height-default ae-bg-gallery-type-default elementor-section elementor-inner-section"
                    data-id="144ae8f" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div
                          class="has_ae_slider elementor-element elementor-element-6f6c2d0 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                          data-id="6f6c2d0" data-element_type="column">
                          <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-a2604fa gc-small-width gc-small-width-left elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-button"
                                data-id="a2604fa" data-element_type="widget" data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                  <div class="elementor-button-wrapper">
                                    <a href="https://www.pravadafloors.com/inspiration-gallery/"
                                      class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                      <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">DESIGN
                                          INSPIRATION</span>
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="has_ae_slider elementor-element elementor-element-93d7a90 ae-bg-gallery-type-default elementor-column elementor-col-50 elementor-inner-column"
                          data-id="93d7a90" data-element_type="column">
                          <div class="elementor-column-wrap  elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-c1aca98 gc-small-width gc-small-width-right elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-button"
                                data-id="c1aca98" data-element_type="widget" data-widget_type="button.default">
                                <div class="elementor-widget-container">
                                  <div class="elementor-button-wrapper">
                                    <a href="https://www.pravadafloors.com/shop/"
                                      class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                      <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">VIEW
                                          ALL PRODUCTS</span>
                                      </span>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
