<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Playfair+Display:400|Raleway:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.13.11/css/main-style.css?t=20200918160921"><link rel="stylesheet" href="{{ 'pagefly.9c223282.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-c04de81e"><div data-pf-type="Layout" class="pf-1617c04d"><div data-container="false" class="sc-pZopv bjKdkd pf-b145daea pf-bg-lazy" data-pf-type="Section"><div class="sc-pIvhh gtZHgp" style="background-color: rgba(0, 0, 0, 0.15);"></div><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-ca27f4a3 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-510d6d7c" data-pf-type="Column"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-6e1cec30"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-68c7c62b">PEACE OF MIND</span></h2><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c62b6b6c"><span class="elementor-divider-separator"></span>

<style>
  span.elementor-divider-separator {
	display: inline-block;
	width: 1px;
	margin: 25px auto;
	background-color: #ffffff;
	height: 100px;
  }
  @media screen and (max-width: 768px) {
	span.elementor-divider-separator {
	  display: none;
	}
  }
</style></div></div></div></div><div class="sc-qPjXN eYzxUD pf-f4a3b145 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-6d7cca27" data-pf-type="Column"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-ec30510d"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1e086e1c">EASILY REGISTER YOUR PRODUCT TODAY!</span></p></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-31fef8a8" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-69ec31fe pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-74fe69ec" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 1200w, https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 800w, https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-37d68ba1 pf-img-lazy" data-pf-type="Image2"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-ae568818"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-197f13f9">PRODUCT REGISTRATION</span></h4><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-881874fe"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-e93bae56">Registering your floors is a great idea! By registering your product, you’ll ensure that if you ever have any warranty concerns, we can assist you faster.</span></p></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-6acbc85f" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-23986acb pf-r pf-r-align--cm" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-8178ae0b" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-c85f8178"><iframe frameborder="0" style="width:100%;border:none;" src="https://forms.zohopublic.com/pravadafloorsinc/form/OrderTracking/formperma/RQE0pYBF2aWBRsMIEJsRo5ID7bSSY1wFZ_shAwoC8CA"></iframe>
<style>
  iframe {
	height: 1800px;
  }
  @media only screen and (max-width: 1200px) {
	iframe {
	  height: 2330px;
	}
  }
  @media screen and (max-width: 800px) and (min-width: 601px) {
	iframe {
	  height: 2070px;
	}
  }
  .fmSmtButton.saveColor.saveBtn {
	background-color: #000000 !important;
	border: solid 0px #000000 !important;
	font-family: Raleway;
	font-size: 20px;
  }
</style></div></div></div></div></div></div><div data-container="true" class="sc-pZopv bjKdkd pf-bb70facb" data-pf-type="Section"><div class="sc-pQQXS iWCqut" style="max-width: 1170px;"><div class="sc-qPjXN eYzxUD pf-02acbb70 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-21cb02ac" data-pf-type="Column"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-c8601f39"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-88507cb5">CONFIDENTIALITY DISCLAIMER</span></h4><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-1f3921cb"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-c7cac860">Pravada Floors uses your information for internal purposes ONLY. We’ll NEVER disclose your information. We use your information solely for research and improved customer service.</span></p></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.13.11","shopDomain":"pravadafloorsinc.myshopify.com","elementData":{},"pageTitle":"Product Registration","pageType":"page","pageId":"9c223282-ca03-4794-8e38-5067140e3b96","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[]};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.13.11/core/helper.js?t=20200918160921" defer></script>