<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400|Oswald:400|Roboto:400|Playfair+Display:400|Raleway:400&display=swap"><link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.14.0/css/main-style.css?t=20201013141048"><link rel="stylesheet" href="{{ 'pagefly.7b013e9c.scss.css' | asset_url }}">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-34f4a314"><div data-pf-type="Layout" class="pf-04bf34f4"><div data-container="false" class="sc-pZopv bjKdkd pf-e0be9550 pf-bg-lazy" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-410fe0be pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-ce21410f" data-pf-type="Column"><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-5c8c9d0e"><h1 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-1fa37f55"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-57a9c263">EVERY GREAT DESIGN</span></h1></div><div data-pf-type="Block" class="sc-oUbqx bgMQOP pf-9d0ece21"><h2 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7f555c8c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-0d111fa3">begins with a story</span></h2></div></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-8788fd05" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-71c68788 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-4cbf71c6" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 1200w, https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 800w, https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-50f506b3 pf-img-lazy" data-pf-type="Image2"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-0a8cc7d2"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-8f4430d3">OUR STORY</span></h4><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-90950a8c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-07c3ee70">For over 18 years, Pravada Floors has been committed to bringing high-end flooring to interior spaces. Learn a bit more about us and how we got here.</span></p></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-966c6418" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-bba8966c pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-ac8cbba8" data-pf-type="Column"><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-7c8b5b60"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-1f026d75">A PROUDLY CANADIAN BUSINESS</span></h4><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-5b60ac8c"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-3fe47c8b">Pravada Floors is a young and innovative Canadian-owned company in business since 2006.</span></p></div></div></div><div class="sc-qPjXN eYzxUD pf-71cdbe77 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:0px; --pf-s-md:0px; --pf-s-sm:0px; --pf-s-xs:0px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-dfe371cd" data-pf-type="Column"><div data-pf-type="Custom.HTML" class="sc-pciXn kKVZfa pf-8ae3dfe3"><style>
  * {
	box-sizing: border-box;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
  }

  /* The actual timeline (the vertical ruler) */
  .timeline::after {
	content: '';
	position: absolute;
	width: 1px;
	background-color: #000000;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
  }

  /* Container around content */
  .container {
	padding: 10px 40px;
	text-align: center;
	position: relative;
	background-color: inherit;
	width: 50%;
  }

  /* The circles on the timeline */
  .container::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	right: -17px;
	background-color: #000000;
	border: 4px solid #000000;
	top: 15px;
	border-radius: 50%;
	z-index: 10;
	background-image: url("https://cdn.shopify.com/s/files/1/0422/9274/0261/files/timeline_logo.svg?v=1599589422");
	background-size: cover;
  }

  /* Place the container to the left */
  .left {
	left: 0;
  }

  /* Place the container to the right */
  .right {
	left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid #F3F3F3;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #F3F3F3;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid #F3F3F3;
	border-width: 10px 10px 10px 0;
	border-color: transparent #F3F3F3 transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
	left: -23px;
  }

  /* The actual content */
  .content {
	padding: 25px;
	background-color: #F3F3F3;
	position: relative;
	border-radius: 0px;
  }

  .content h2 {
	font-family: "Raleway", Sans-serif;
	font-weight: 400;
	font-size: 16px;
  }

  .content h3 {
	font-family: "Raleway", Sans-serif;
	font-weight: 400;
	font-size: 38px;
	margin: 0 0 25px 0;
  }

  .content p {
	font-family: "Raleway", Sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0 0 20px 0;
  }

  @media screen and (max-width: 900px) {
	.content img {
	  max-width: 250px;
	  width: 80%;
	}
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {

	/* Place the timelime to the left */
	.timeline::after {
	  left: 31px;
	}

	/* Full-width containers */
	.container {
	  width: 100%;
	  padding-left: 70px;
	  padding-right: 25px;
	}

	/* Make sure that all arrows are pointing leftwards */
	.container::before {
	  left: 60px;
	  border: medium solid white;
	  border-width: 10px 10px 10px 0;
	  border-color: transparent white transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.left::after,
	.right::after {
	  left: 8px;
	}

	/* Make all right containers behave like the left ones */
	.right {
	  left: 0%;
	}

  }
</style>

<div class="timeline">
  <div class="container left">
	<div class="content">
	  <h2>2003</h2>
	  <h3>The Beginning</h3>
	  <p>2004 – Pravada’s founders began with a wholesale and distribution company formerly known as BuildCo
		Wholesale.
		BuildCo
		distributed flooring products to BC, Alberta, and Washington State.</p>
	  <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/buildco-logo.png?v=1599593330">
	</div>
  </div>
  <div class="container right">
	<div class="content">
	  <h2>2006</h2>
	  <h3>Pravada Floors is born!</h3>
	  <p>From our extensive experience as flooring distributors and passion for design, Pravada Floors Inc –
		the manufacturer,
		was created to Redefine the Look of Floors.</p>
	  <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/our-story-pravada-logo1.png?v=1599593330">
	</div>
  </div>
  <div class="container left">
	<div class="content">
	  <h2>2012</h2>
	  <h3>Surfaces ’12</h3>
	  <p>We stay innovative and up-to-date by visiting and participating at industry tradeshows all over the
		world every year.</p>
	  <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/our-story-surfaces2012_96dpi-300x300.jpg?v=1599593330">
	</div>
  </div>
  <div class="container right">
	<div class="content">
	  <h2>2016</h2>
	  <h3>Branding Update</h3>
	  <p>In 2016, we introduced a new look and feel to Pravada branding. Reflecting our elegant and modern
		company, we launched a
		new logo and website.</p>
	  <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/our-story-pravada-logo2.png?v=1599593330">
	</div>
  </div>
  <div class="container left">
	<div class="content">
	  <h2>2017</h2>
	  <h3>New Warehouse</h3>
	  <p>A huge moment for us was to build our new warehouse and head office located in South Surrey, BC. An
		important milestone
		lead us to a bigger warehouse which meant greater capacity to accommodate a range of new stunning
		products and …</p>
	  <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/our-story-new-showroom-building_96dpi-300x300.jpg?v=1599593330">
	</div>
  </div>
  <div class="container right">
	<div class="content">
	  <h2>2018</h2>
	  <h3>New Showroom</h3>
	  <p>… a customer-oriented showroom with lots of features to make our customers feel at home. Yay!</p>
	  <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/our-story-new-showroom-meeting_96dpi-300x300.jpg?v=1599593330">
	</div>
  </div>
  <div class="container left">
	<div class="content">
	  <h2>2018</h2>
	  <h3>IDS Vancouver ’18</h3>
	  <p>In 2018, we also had the honour to not only participate at the Interior Design Show (IDS) Vancouver,
		but also to have
		our floors featured at the event’s special booth “What The Hel”, a partnership between designer
		Susanna Björklund &
		Informa Events.</p>
	  <img src="https://cdn.shopify.com/s/files/1/0422/9274/0261/files/our-story-IDS-2018_96dpi-300x300.jpg?v=1599593330">
	</div>
  </div>
  <div class="container right">
	<div class="content">
	  <h2>2020</h2>
	  <h3>New Website</h3>
	  <p>This website you are reading right now is another big milestone reached! It took some time to get
		here, but oh boy, was
		it worth it! Improving our customer service and products is always a top priority. Let us know how
		we can make it
		better. Enjoy!</p>
	</div>
  </div>
</div></div></div></div></div></div></div><div data-container="false" class="sc-pZopv bjKdkd pf-bcd26422" data-pf-type="Section"><div class="sc-pQQXS iWCqut"><div class="sc-qPjXN eYzxUD pf-cea8bcd2 pf-r pf-r-eh" data-pf-type="Row" style="--pf-s-lg:15px; --pf-s-md:15px; --pf-s-sm:15px; --pf-s-xs:15px;"><div class="sc-pbYdQ jklmHY pf-c pf-c-xs--12 pf-c-sm--12 pf-c-md--12 pf-c-lg--12"><div class="sc-pkUyL fTyjzF pf-2420cea8" data-pf-type="Column"><img sizes="(min-width: 992px) 1200px, (min-width: 768px) and (max-width: 991px) 800px, 400px" data-srcset="https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 1200w, https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 800w, https://cdn.shopify.com/s/files/1/0422/9274/0261/t/5/assets/pf-2daf40e3--pravada-logomarkblack.png?v=1599026715 400w" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="sc-qZtVr dLIPjF pf-ad222262 pf-img-lazy" data-pf-type="Image2"><p data-pf-type="Paragraph2" class="sc-pkvvt cbrLgP pf-84c0859e"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-ec292083">PASSION FOR QUALITY DESIGN</span></p><h4 data-pf-type="Heading" class="sc-oTLFK lcHmGL pf-859e0ad6"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-529fcd9a">OUR PRODUCTS</span></h4><a href="/collections/all" target="_self" data-pf-type="Button" class="sc-pZdvY kuwSuz pf-0ad62420"><span data-pf-type="Text" class="sc-ptSuy fnmilh pf-307684c0">VIEW ALL PRODUCTS</span></a></div></div></div></div></div></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.14.0","shopDomain":"pravadafloorsinc.myshopify.com","elementData":{},"pageTitle":"Our Story","pageType":"page","pageId":"7b013e9c-c0e9-46bb-834a-5cac26ef2a60","lazyLoad":false,"imageLazyLoad":true,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2020-10-13T21:26:39.602Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.14.0/core/helper.js?t=20201013141048" defer></script>