{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template/
{% endcomment %}



<div data-elementor-type="product" data-elementor-id="3853"
  class="elementor elementor-3853 elementor-location-single product type-product status-publish has-post-thumbnail product_cat-heritage product_tag-dark product_tag-exotics product_tag-glossy product_tag-handscrapped product_tag-medium product_tag-warm pa_any-color-brown pa_any-shade-medium pa_any-style-medium-width-planks pa_any-texture-handscraped pa_any-type-engineered pa_finishing-coat-uv-lacquer pa_plank-width-5in-127mm pa_texture-handscrapped pa_veneer-thickness-2mm-0-08in first instock taxable shipping-taxable purchasable product-type-simple product"
  data-elementor-settings="[]">
  <div class="elementor-inner">
    <div class="elementor-section-wrap">
      {% section 'single-product' %}
    </div>
  </div>
</div>


<script>
  window.theme = window.theme || {};
  window.theme.strings = window.theme.strings || {};

  // Override default values of theme.strings for each template.
  // Values are used by JavaScript only; Liquid must be updated separately
  window.theme.strings.addToCart = {{ 'products.product.add_to_cart' | t | json }};
  window.theme.strings.soldOut = {{ 'products.product.sold_out' | t | json }};
  window.theme.strings.unavailable = {{ 'products.product.unavailable' | t | json }};
</script>
